@import '../../scss/vars.scss';

$avatar-size: 3.5em;
$rail-size: 0.15em;

.rc-step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.rc-step-rail {
  box-shadow: $neumorphism-flat;
  position: absolute;
  top: $avatar-size / 2 - $rail-size;
  left: -50%;
  height: $rail-size;
  width: 100%;
}

.rc-step-avatar {
  height: $avatar-size;
  width: $avatar-size;
  box-shadow: $neumorphism-flat;
  border-radius: 100em;
  background-color: $root-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.rc-step-content {
  margin-top: 0.75em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rc-step-label {
  font-weight: 600;
  margin-bottom: 1em;
}

.rc-step-note {
  display: none;
}

// COMPLETED
.rc-step.--completed {
  .rc-step-rail {
    background-color: $primary-color;
    background: $gradient-primary-color;
  }

  .rc-step-avatar {
    background-color: $primary-color;
    background: $gradient-primary-color;
    color: $root-text-inverted-color;
  }

  .rc-step-label {
    color: $primary-color;
  }

  .rc-step-note {
    display: none;
  }
}

// PROCESSING
.rc-step.--processing {
  .rc-step-rail {
    background-color: $primary-color;
    background: $gradient-primary-color;
  }

  .rc-step-avatar {
    background-color: $primary-color;
    background: $gradient-primary-color;
    color: $root-text-inverted-color;
  }

  .rc-step-note {
    display: block;
  }
}

// CANCELED
.rc-step.--canceled {
  .rc-step-rail {
    background-color: $error-color;
    background: $gradient-error-color;
  }

  .rc-step-avatar {
    background-color: $error-color;
    background: $gradient-error-color;
    color: $root-text-inverted-color;
  }

  .rc-step-label {
    color: $error-color;
  }

  .rc-step-note {
    display: block;
  }
}

.rc-stepper > .rc-step:nth-child(1) .rc-step-rail {
  display: none;
}

// VERTICAL SUPPORT
.rc-stepper.--vertical {
  > .rc-step:nth-child(1) {
    min-height: 0;
  }

  .rc-step {
    flex-direction: row;
    min-height: 5em;
    align-items: flex-start;

    &.--processing,
    &.--completed {
      + .rc-step {
        .rc-step-rail {
          background-color: $primary-color;
          background: $gradient-primary-color;
        }
      }
    }

    &.--canceled {
      + .rc-step {
        .rc-step-rail {
          background-color: $error-color;
          background: $gradient-error-color;
        }
      }
    }
  }

  .rc-step-rail {
    background-color: transparent;
    background: transparent;
    height: 100%;
    width: $rail-size;
    left: $avatar-size / 2 - $rail-size;
    top: calc(0 + 1.75em);
  }

  .rc-step-content {
    flex-grow: 1;
    align-items: flex-start;
    margin-left: 0.75em;
    margin-top: 0;
  }

  .rc-step-label {
    margin-top: 1em;
  }
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-step-rail {
    box-shadow: $neumorphism-darkmode-flat;
  }

  .rc-step-avatar {
    box-shadow: $neumorphism-darkmode-flat;
    background-color: $root-darkmode-bg-color;
  }
}