@import '../../scss/vars.scss';

$avatar-size: 2.5em;
$rail-size: 1px;

.rc-step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.rc-step-rail {
  position: absolute;
  top: $avatar-size / 2;
  left: -50%;
  height: $rail-size;
  width: 100%;
  border-bottom: 1px dashed currentColor;
}

.rc-step-avatar {
  height: $avatar-size;
  width: $avatar-size;
  border-radius: 100em;
  background-color: var(--rc-color--500);
  border: 1px dashed currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.rc-step-content {
  margin-top: 0.75em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rc-step-title {
  font-weight: 600;
}

.rc-step-description {
  display: none;
}

// COMPLETED
.rc-step.--completed {
  .rc-step-rail {
    color: $primary-color--500;
  }

  .rc-step-avatar {
    background-color: $primary-color--500;
    color: rgb(228, 230, 235);
    box-shadow: none;
    border: none;
  }

  .rc-step-title {
    color: $primary-color--500;
  }

  .rc-step-description {
    display: none;
  }
}

// PROCESSING
.rc-step.--processing {
  .rc-step-rail {
    color: $primary-color--500;
  }

  .rc-step-avatar {
    background-color: $primary-color--500;
    color: rgb(228, 230, 235);
    box-shadow: none;
  }

  .rc-step-description {
    display: block;
  }
}

// CANCELED
.rc-step.--canceled {
  .rc-step-rail {
    color: $error-color--500;
  }

  .rc-step-avatar {
    background-color: $error-color--500;
    color: rgb(228, 230, 235);
    box-shadow: none;
    border: none;
  }

  .rc-step-title {
    color: $error-color--500;
  }

  .rc-step-description {
    display: none;
  }
}

.rc-stepper > .rc-step:nth-child(1) .rc-step-rail {
  display: none;
}

// VERTICAL SUPPORT
.rc-stepper.--vertical {
  > .rc-step:nth-child(1) {
    min-height: 0;
  }

  .rc-step-rail {
    border-bottom: none;
    border-left: 1px dashed rgb(228, 230, 235);
  }

  .rc-step {
    flex-direction: row;
    min-height: 8em;
    align-items: flex-start;

    &.--processing,
    &.--completed {
      + .rc-step {
        .rc-step-rail {
          color: $primary-color--500;
          border-left: 1px dashed currentColor;
        }
      }
    }

    &.--canceled {
      + .rc-step {
        .rc-step-rail {
          color: $error-color--500;
          border-left: 1px dashed currentColor;
        }
      }
    }
  }

  .rc-step-rail {
    background-color: transparent;
    background: transparent;
    height: 100%;
    width: $rail-size;
    left: $avatar-size / 2;
    top: calc(0 + 1.75em);
  }

  .rc-step-content {
    flex-grow: 1;
    align-items: flex-start;
    margin-left: 0.75em;
    margin-top: 0;
  }

  .rc-step-title {
    margin-top: 0.5em;
  }
}
