$step-avatar--size: 2.5em;

.fui-step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fui-step-rail {
  position: absolute;
  top: $step-avatar--size / 2;
  left: -50%;
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed currentColor;
}

.fui-step-avatar {
  position: relative;
  height: $step-avatar--size;
  width: $step-avatar--size;
  border-radius: 100em;
  background-color: var(--secondary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.fui-step-loader {
  position: absolute;
}

.fui-step-content {
  margin-top: 0.75em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fui-step-title {
  font-weight: 600;
}

.fui-step-description {
  display: none;
}

// COMPLETED
.fui-step--completed {
  .fui-step-rail {
    color: var(--primary--500);
  }

  .fui-step-avatar {
    background-color: var(--primary--500);
    color: rgb(228, 230, 235);
    box-shadow: none;
    border: none;
  }

  .fui-step-title {
    color: var(--primary--500);
  }

  .fui-step-description {
    display: none;
  }
}

// PROCESSING
.fui-step--processing {
  .fui-step-rail {
    color: var(--primary--500);
  }

  .fui-step-avatar {
    color: var(--primary--500);
    box-shadow: none;
  }

  .fui-step-description {
    display: block;
  }
}

// CANCELED
.fui-step.--canceled {
  .fui-step-rail {
    color: var(--red--500);
  }

  .fui-step-avatar {
    background-color: var(--red--500);
    color: #fff;
    box-shadow: none;
    border: none;
  }

  .fui-step-title {
    color: var(--red--500);
  }

  .fui-step-description {
    display: none;
  }
}

.fui-stepper > .fui-step:nth-child(1) .fui-step-rail {
  display: none;
}

// VERTICAL SUPPORT
.fui-stepper--vertical {
  > .fui-step:nth-child(1) {
    min-height: 0;
  }

  .fui-step-rail {
    border-bottom: none;
    border-left: 1px dashed var(--text-color);
  }

  .fui-step {
    flex-direction: row;
    min-height: 8em;
    align-items: flex-start;

    &.fui-step--processing,
    &.fui-step--completed {
      + .fui-step {
        .fui-step-rail {
          color: var(--primary--500);
          border-left: 1px dashed currentColor;
        }
      }
    }

    &.fui-step--canceled {
      + .fui-step {
        .fui-step-rail {
          color: var(--red--500);
          border-left: 1px dashed currentColor;
        }
      }
    }
  }

  .fui-step-rail {
    background-color: transparent;
    background: transparent;
    height: 100%;
    width: 1px;
    left: $step-avatar--size / 2;
    top: calc(0 + 1.75em);
  }

  .fui-step-content {
    flex-grow: 1;
    align-items: flex-start;
    margin-left: 0.75em;
    margin-top: 0;
  }

  .fui-step-title {
    margin-top: 0.5em;
  }
}
