.fselect {
  appearance: none;
  background-color: var(--input--bg);
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  border: none;
  border-radius: var(--border-radius);
  height: var(--input-height);
  outline: 0;
  padding: 0 var(--input-spacing);
  position: relative;
  width: 100%;

  &::placeholder {
    color: var(--text-color--placeholder);
    font-style: italic;
  }
}
