.fpureconfirm {
  border-radius: 10px;
  .fdialog-body {
    padding: 0 30px;
  }
  .fdialog-header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .fdialog-footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}
