.ftabs-tab {
  color: var(--txt-color-low-emphasis);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.125em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  outline: 0 !important;
  outline-style: none;
  user-select: none;
  touch-action: manipulation;
  border-bottom: 0.0625em solid transparent;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed !important;
  }
}

.ftabs-tab-active {
  color: var(--txt-color);
  font-weight: 600;
  border-bottom-color: var(--primary);
}

