@import '../../scss/vars.scss';

.rc-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 2.5em;
  padding: 0.25em;
  border-radius: $border-radius;
  user-select: none;
  transition: all 0.25s;
}

.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-next {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 0.5em;
  height: 2.125em;
  min-width: 2.125em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 100em;//$border-radius;
  cursor: pointer;
  transition: color 0, background-color 0.25s;
  background-color: $root-bg-color;
  box-shadow: $neumorphism;

  &:hover {
    background-color: $root-bg-color;
    box-shadow: $neumorphism-inset;
  }
}

.rc-pagination-item--active.rc-pagination-item--active {
  background-color: $primary-color;
  color: #fff;
  box-shadow: none;
}

.rc-pagination-next {
  margin-left: 0;
}

.rc-pagination-next,
.rc-pagination-prev {
  transition: all 0.2s;

  .rc-icon {
    font-size: 0.75em;
  }
}

.rc-pagination-next--hidden,
.rc-pagination-prev--hidden {
  display: none;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-pagination-item:not(.rc-pagination-item--active),
  .rc-pagination-next,
  .rc-pagination-prev {
    background-color: $root-darkmode-bg-color;
    box-shadow: $neumorphism-darkmode;

    &:hover {
      background-color: $root-darkmode-bg-color;
      box-shadow: $neumorphism-darkmode-inset;
    }
  }
}
