@import '../../style/vars.scss';
.fui-pagination {
  display: flex;
  align-items: center;
}

.fui-pagination > .fui-pagination-item {
  margin-right: 0.5rem;
}

.fui-pagination-item,
.fui-pagination-prev,
.fui-pagination-next {
  padding-left: 0;
  padding-right: 0;
}
