@import '../../style/vars.scss';
.fpag {
  display: flex;
  align-items: center;
}

.fpag-page,
.fpag-prev,
.fpag-next {
  padding-left: 0;
  padding-right: 0;
}

.fpag-prev {
  margin-right: 0.15rem;
}

.fpag-next {
  margin-left: 0.15rem;
}
