@import '../../scss/vars.scss';

.rc-notification {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  z-index: 1000;
  padding-top: 6em;
  padding-right: 0.5em;

  .rc-pure-notification {
    animation: zoomIn 0.25s;
  }
}

.rc-notification.--close-animation {
  .rc-pure-notification {
    animation: zoomOut 0.25s;
  }
}
