.fimg {
  display: block;
  overflow: hidden;
  position: relative;
}

.fimg-blur {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform: scale(1.2);
  width: 100%;
}

.fimg-skeleton {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.fimg-native-main {
  height: 100%;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;
  width: 100%;
  z-index: 2;
}

.fimg-native-main.fimg-native-loaded {
  opacity: 1;
}

.fimg-native-cover {
  object-fit: cover;
}

.fimg-native-contain {
  object-fit: contain;
}

.fimg-native-fill {
  object-fit: fill;
}

.fimg-native-scale-down {
  object-fit: scale-down;
}

.fimg-native-none {
  object-fit: none;
}

.fimg-native-blur {
  object-fit: contain;
}
