@import '../../style/vars.scss';
@import './Overlay.Absolute.scss';

.foverlay {
  border-radius: var(--border-radius);
  position: absolute;
  white-space: nowrap;
  z-index: var(--zindex-overlay);

  &::after {
    border: 0.5em solid transparent;
    box-sizing: border-box;
    content: ' ';
    display: none;
    height: 1em;
    overflow: hidden;
    position: absolute;
    width: 1em;
  }
}

.foverlay-arrow {
  &::after {
    border-color: var(--bg);
    display: block;
  }
}

.foverlay-hidden.foverlay-hidden {
  display: none;
}

.foverlay-arrow.foverlay-t {
  &::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}

.foverlay-arrow.foverlay-tr {
  &::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: 0;
    right: 0;
    transform: translate(-100%, 100%);
  }
}

.foverlay-arrow.foverlay-rt {
  &::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    left: 0;
    top: 0;
    transform: translate(-100%, 100%);
  }
}

.foverlay-arrow.foverlay-br {
  &::after {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    right: 0;
    top: 0;
    transform: translate(-100%, -100%);
  }
}

.foverlay-arrow.foverlay-b {
  &::after {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
  }
}

.foverlay-arrow.foverlay-bl {
  &::after {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    left: 0;
    top: 0;
    transform: translate(100%, -100%);
  }
}

.foverlay-arrow.foverlay-lb {
  &::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    bottom: 0;
    right: 0;
    transform: translate(100%, -100%);
  }
}

.foverlay-arrow.foverlay-l {
  &::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
  }
}

.foverlay-arrow.foverlay-lt {
  &::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    right: 0;
    top: 0;
    transform: translate(100%, 100%);
  }
}

.foverlay-arrow.foverlay-tl {
  &::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: 0;
    left: 0;
    transform: translate(100%, 100%);
  }
}

.foverlay-arrow.foverlay-r {
  &::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}

.foverlay-arrow.foverlay-rb {
  &::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    bottom: 0;
    left: 0;
    transform: translate(-100%, -100%);
  }
}
