@import '../../style/vars.scss';
@import './Overlay.Absolute.scss';

.foverlay {
  position: absolute;
  z-index: var(--zindex-overlay);
  white-space: nowrap;
  border-radius: var(--border-radius);

  &:after {
    content: " ";
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    overflow: hidden;
    border: 0.5em solid transparent;
    position: absolute;
    display: none;
  }
}

.foverlay-arrow {
  &:after {
    display: block;
    border-color: var(--bg);
  }
}

.foverlay-hidden.foverlay-hidden {
  display: none;
}

.foverlay-arrow.foverlay-t {
  &:after {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.foverlay-arrow.foverlay-tr {
  &:after {
    bottom: 0;
    right: 0;
    transform: translate(-100%, 100%);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.foverlay-arrow.foverlay-rt {
  &:after {
    top: 0;
    left: 0;
    transform: translate(-100%, 100%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.foverlay-arrow.foverlay-br {
  &:after {
    top: 0;
    right: 0;
    transform: translate(-100%, -100%);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.foverlay-arrow.foverlay-b {
  &:after {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.foverlay-arrow.foverlay-bl {
  &:after {
    top: 0;
    left: 0;
    transform: translate(100%, -100%);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.foverlay-arrow.foverlay-lb {
  &:after {
    bottom: 0;
    right: 0;
    transform: translate(100%, -100%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
}

.foverlay-arrow.foverlay-l {
  &:after {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
}

.foverlay-arrow.foverlay-lt {
  &:after {
    top: 0;
    right: 0;
    transform: translate(100%, 100%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
}

.foverlay-arrow.foverlay-tl {
  &:after {
    bottom: 0;
    left: 0;
    transform: translate(100%, 100%);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.foverlay-arrow.foverlay-r {
  &:after {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.foverlay-arrow.foverlay-rb {
  &:after {
    bottom: 0;
    left: 0;
    transform: translate(-100%, -100%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
