@import '../../style/vars.scss';

@keyframes flow {
  from {
    opacity: 1;
    transform: scale(1.25);
  }
  to {
    opacity: .20;
    transform: scale(.75);
  }
}

/* DOT */
.rc-loader-dots {
  display: flex;
  align-items: center;
  color: $primary-color--500;
}

.rc-loader-dot {
  display: inline-block;
  margin: 0 0.2em;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 100rem;
}

.rc-loader-dot.--dot-1 {
  animation: flow .4s ease 0s infinite alternate;
}

.rc-loader-dot.--dot-2 {
  animation: flow .4s ease .1s infinite alternate;
}

.rc-loader-dot.--dot-3 {
  animation: flow .4s ease .2s infinite alternate;
}
