@import '../../style/vars.scss';

@keyframes buble {
  from {
    opacity: 1;
    transform: scale(1.25);
  }
  to {
    opacity: .20;
    transform: scale(.75);
  }
}

@keyframes wave {
  0%, 100% {
    transform: initial;
  }

  45% {
    transform: translateY(-20px);
  }
}

.floader-dots {
  display: flex;
  align-items: center;
  color: var(--primary);
  position: relative;
}

.floader-dot {
  display: inline-block;
  margin: 0 0.2em;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 999px;
}

.floader-dots-buble .floader-dot {
  animation-name: buble;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.floader-dots-buble .floader-dot-1 {
  animation-delay: 0s;
}

.floader-dots-buble .floader-dot-2 {
  animation-delay: .1s;
}

.floader-dots-buble .floader-dot-3 {
  animation-delay: .2s;
}

.floader-dots-wave .floader-dot {
  animation: wave 1s ease-out infinite;
  animation-name: wave;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.floader-dots-wave .floader-dot-1 {
  animation-delay: 0s;
}

.floader-dots-wave .floader-dot-2 {
  animation-delay: -0.8s;
}

.floader-dots-wave .floader-dot-3 {
  animation-delay: -0.6s;
}
