@import '../../style/vars.scss';

@keyframes flow {
  from {
    opacity: 1;
    transform: scale(1.25);
  }
  to {
    opacity: .20;
    transform: scale(.75);
  }
}

@keyframes wave {
  0%, 100% {
    transform: initial;
  }

  45% {
    transform: translateY(-20px);
  }
}

.rc-loader-dots {
  display: flex;
  align-items: center;
  color: var(--primary--500);
}

.rc-loader-dot {
  display: inline-block;
  margin: 0 0.2em;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 100rem;
  animation: flow .4s ease infinite alternate;
}

.rc-loader-dot.--dot-2 {
  animation-delay: .1s;
}

.rc-loader-dot.--dot-3 {
  animation-delay: .2s;
}

.rc-loader-dot.--wave {
  animation: wave 1s ease-out infinite;
}

.rc-loader-dot.--wave.--dot-2 {
  animation-delay: -0.8s
}

.rc-loader-dot.--wave.--dot-3 {
  animation-delay: -0.6s
}
