@import '../../style/vars.scss';

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.floader-spinner {
  display: inline-block;
  color: var(--primary);
  border-radius: 100rem;
  width: 1.5em;
  height: 1.5em;
  border-width: 0.125em;
  border-style: solid;
  border-color: transparent;
  border-left-color: currentColor;
  animation: spin .5s linear infinite;
}
