@import '../../scss/vars.scss';

.rc-radio {
  display: block;
  position: relative;
  box-sizing: border-box;
  outline: 0 !important;
  width: 1.85em;
  height: 1.85em;
  cursor: pointer;
}

.rc-radio-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;

  &:checked {
    + .rc-radio-inner {
      background-color: $root-bg-color;
      box-shadow: $neumorphism-inset;
    }

    + * + .rc-radio-second-inner {
      box-shadow: $neumorphism;
      background-color: $primary-color;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.rc-radio-inner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.25s;
  border-radius: 100em;
  background-color: $root-bg-color;
  box-shadow: $neumorphism;
  transition: all 0.5s;
}

.rc-radio-second-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  transition: all 0.25s;
  border-radius: 100em;
  background-color: $root-bg-color;
  box-shadow: $neumorphism-inset;
}

.rc-radio-check {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: $root-bg-color;
  transform: translate(-50%, -50%);
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-radio-input {
    &:checked {
      + .rc-radio-inner {
        background-color: $root-darkmode-bg-color;
        box-shadow: $neumorphism-darkmode-inset;
      }
  
      + * + .rc-radio-second-inner {
        background-color: $primary-color;
        box-shadow: $neumorphism-darkmode;
      }
    }
  }
  
  .rc-radio-inner  {
    background-color: $root-darkmode-bg-color;
    box-shadow: $neumorphism-darkmode;
  }

  .rc-radio-second-inner {
    background-color: $root-darkmode-bg-color;
    box-shadow: $neumorphism-darkmode-inset;
  }
}
