.floader-liquid {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.floader-liquid-snurra {
  filter: var(--liquid-gegga-url);
  width: var(--liquid-size-px);
  height: var(--liquid-size-px);
}

.floader-liquid-stop1 {
  stop-color: var(--liquid-stop1-color);
}

.floader-liquid-stop2 {
  stop-color: var(--liquid-stop2-color);
}

.floader-liquid-halvan {
  animation: Snurra1 10s infinite linear;
  stroke-dasharray: 180 800;
  fill: none;
  stroke: var(--liquid-gradient-url);
  stroke-width: 23;
  stroke-linecap: round;
}

.floader-liquid-strecken {
  animation: Snurra1 3s infinite linear;
  stroke-dasharray: 26 54;
  fill: none;
  stroke: var(--liquid-gradient-url);
  stroke-width: 23;
  stroke-linecap: round;
}

@keyframes Snurra1 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -403px;
  }
}
