@import '../../style/vars.scss';

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.floader-spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--primary);
}

.floader-spinner-spin {
  display: inline-block;
  border-radius: 999px;
  width: 1.5em;
  height: 1.5em;
  border-width: 0.125em;
  border-style: solid;
  border-color: transparent;
  border-left-color: currentColor;
  animation: spin .5s linear infinite;
}
