@import '../../scss/vars.scss';

.rc-rating {
  display: flex;
  align-items: center;
}

.rc-rating-item {
  color: $rating-color;
  transition: all 0.25s;
  padding: 0.25em;

  &:hover {
    transform: scale(1.15);
  }
}

.rc-rating-item.--light {
  color: $rating-active-color;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-rating-item:not(.--light) {
    color: $rating-darkmode-color;
  }
}
