@import '../../style/vars.scss';

.rc-droplet {
  background-color: $primary-color--500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100rem;
  color: $dark-text-color;
  width: 2.5rem;
  height: 2.5rem;

  &:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    transform: rotate(-45deg);
    border-radius: 50% 50% 50% 0;
  }
}

.rc-droplet > span {
  z-index: 1;
}
