@import './Dot.scss';
@import './Label.scss';
@import './Icon.scss';
@import './Counter.scss';

@keyframes badgeCountUp {
  0% {
   transform: scale(0);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes badgeCountUpOpacity {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fui-badge-ui--badge-up-animation {
  animation: badgeCountUpOpacity 0.5s;

  > b {
    animation: badgeCountUp 0.35s;
  }
}

.fui-badge {
  position: relative;
  display: inline-block;
}

.fui-badge-ui {
  font-size: 0.75rem;
  position: absolute;
  height: 2.25em;
  min-width: 2.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.fui-badge--top-right .fui-badge-ui,
.fui-badge--right-top .fui-badge-ui {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.fui-badge--right .fui-badge-ui {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.fui-badge--bottom-right .fui-badge-ui,
.fui-badge--right-bottom .fui-badge-ui {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.fui-badge--bottom .fui-badge-ui {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.fui-badge--bottom-left .fui-badge-ui,
.fui-badge--left-bottom .fui-badge-ui {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.fui-badge--left .fui-badge-ui {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fui-badge--left-top .fui-badge-ui,
.fui-badge--top-left .fui-badge-ui {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.fui-badge--top .fui-badge-ui {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

// OVERLAP SUPPORT
.fui-badge--overlap.fui-badge--top-right,
.fui-badge--overlap.fui-badge--right-top {
  .fui-badge-ui {
    top: 14%;
    right: 14%;
  }
}

.fui-badge--overlap.fui-badge--right-bottom,
.fui-badge--overlap.fui-badge--bottom-right {
  .fui-badge-ui {
    bottom: 14%;
    right: 14%;
  }
}

.fui-badge--overlap.fui-badge--left-bottom,
.fui-badge--overlap.fui-badge--bottom-left {
  .fui-badge-ui {
    bottom: 14%;
    left: 14%;
  }
}

.fui-badge--overlap.fui-badge--left-top,
.fui-badge--overlap.fui-badge--top-left {
  .fui-badge-ui {
    top: 14%;
    left: 14%;
  }
}
