@keyframes badgeCountUp {
  0% {
   transform: scale(0);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes badgeCountUpOpacity {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fui-badge-count--badge-up-animation {
  animation: badgeCountUpOpacity 0.5s;

  > b {
    animation: badgeCountUp 0.35s;
  }
}

.fui-badge {
  position: relative;
  display: inline-block;
}

.fui-badge-count {
  font-size: 0.75rem;
  position: absolute;
  height: 2.25em;
  min-width: 2.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red--500);
  border: 2px solid var(--bg);
  color: #fff;
  border-radius: 100rem;
  font-family: sans-serif;

  > b {
    padding: 0 0.5em;
  }
}

.fui-badge-count--hidden {
  display: none;
}

.fui-badge--top-right .fui-badge-count,
.fui-badge--right-top .fui-badge-count {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.fui-badge--right .fui-badge-count {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.fui-badge--bottom-right .fui-badge-count,
.fui-badge--right-bottom .fui-badge-count {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.fui-badge--bottom .fui-badge-count {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.fui-badge--bottom-left .fui-badge-count,
.fui-badge--left-bottom .fui-badge-count {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.fui-badge--left .fui-badge-count {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fui-badge--left-top .fui-badge-count,
.fui-badge--top-left .fui-badge-count {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.fui-badge--top .fui-badge-count {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

// OVERLAP SUPPORT
.fui-badge--overlap.fui-badge--top-right,
.fui-badge--overlap.fui-badge--right-top {
  .fui-badge-count {
    top: 14%;
    right: 14%;
  }
}

.fui-badge--overlap.fui-badge--right-bottom,
.fui-badge--overlap.fui-badge--bottom-right {
  .fui-badge-count {
    bottom: 14%;
    right: 14%;
  }
}

.fui-badge--overlap.fui-badge--left-bottom,
.fui-badge--overlap.fui-badge--bottom-left {
  .fui-badge-count {
    bottom: 14%;
    left: 14%;
  }
}

.fui-badge--overlap.fui-badge--left-top,
.fui-badge--overlap.fui-badge--top-left {
  .fui-badge-count {
    top: 14%;
    left: 14%;
  }
}

// DOT SUPPORT
.fui-badge--dot {
  .fui-badge-count {
    > b {
      display: none;
    }

    height: 1.25em;
    width: 1.25em;
    min-width: 0;
    padding:0;
  }
}
