.fbadge-ui.fbadge-counter {
  height: 2.25em;
  min-width: 2.25em;
  background-color: var(--red);
  border: 2px solid var(--bg);
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
  border-radius: 999px;

  > b {
    padding: 0 0.5em;
    white-space: nowrap;
  }
}