.fcircle-prog {
  border-radius: 999px;
  position: relative;
  user-select: none;
}

.fcircle-prog-svg {
  position: relative;
  transform: rotate(-90deg);
}

.fcircle-prog-circle {
  transition: stroke-dashoffset 0.5s;
}

.fcircle-prog-children {
  align-items: center;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
