.fcircle-prog {
  --circle-progress-0: var(--primary);
  --circle-progress-100: var(--primary);
  border-radius: 999px;
  position: relative;
  user-select: none;
}

.fcircle-prog-svg {
  position: relative;
  transform: rotate(-90deg);
}

.fcircle-prog-circle {
  fill: none;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s;
}

.fcircle-prog-children {
  align-items: center;
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
