.flinear-prog {
  --linear-progress-size: 3px;
  --linear-progress-color: var(--primary);
  height: var(--linear-progress-size);
  position: relative;
  width: 100%;
}

.flinear-prog-rail {
  background-color: var(--rail-color);
  border-radius: 999px;
  height: var(--linear-progress-size);
  position: absolute;
  width: 100%;
}

.flinear-prog-value {
  background-color: var(--linear-progress-color);
  border-radius: 999px;
  height: 100%;
  left: 0;
  position: absolute;
  transition: width 0.25s;
}
