@import '../../scss/vars.scss';

.code-box {
  width: 100%;
  background-color: $dark-bg-color--500;
  border-radius: $border-radius;
}

.code-box-header {
  padding: 1rem 2rem;
  border-bottom: 1px dashed $dark-bg-color--400;
}

.code-box-demo {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.code-box-guide {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;

  &.--hidden {
    display: none;
  }

  &.--expanded {
    .code-box-code {
      display: block;
      border-top: 1px dashed $dark-bg-color--400;
    }
  }
}

.code-box-collapse-code-header {
  cursor: pointer;
  align-self: flex-end;
  user-select: none;
}

.code-box-code {
  display: none;
  font-size: 0.9rem;
  font-family: monospace;
}