@import '../../style/vars.scss';

$pure-modal--background-color: var(--rc-color--500);
$pure-modal-title--background-color: var(--rc-color--600);

.rc-pure-modal {
  position: relative;
  min-width: 30em;
  background-color: $pure-modal--background-color;
  border-radius: $border-radius;
  overflow: hidden;
}

.rc-pure-modal-title {
  padding: 0 1em;
  height: 3.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: $pure-modal-title--background-color;
}

.rc-pure-modal-content {
  padding: 1.5em 1em;
}
