.rc-pure-modal {
  position: relative;
  min-width: 30em;
  background-color: var(--bg);
  box-shadow: var(--popup--shadow);
  border-radius: var(--border-radius);
}

.rc-pure-modal-title {
  padding: 0 1em;
  height: 3.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: var(--popup--title-bg);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.rc-pure-modal-content {
  padding: 1.5em 1em;
}
