@import './vars.scss';
@import './native-vars/index.scss';

html {
  font-size: 13px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  background-color: var(--body-bg);
  color: var(--color);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.common-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
}
.common-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.common-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.5), rgba(141, 141, 141, 0.35));
  border-radius: 100rem;
}

.common-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
