@import '../../../scss/vars.scss';

.rc-menubar-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100em;
  height: 4.5rem;
  min-width: 4.5em;

  > input[type=search] {
    outline: 0 !important;
    height: 2.5em;
    border: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em;
    width: 10em;
    display: none;
    transition: min-width 0.5s, width 0.5s;

    &:focus {
      display: block;
      width: 30em;
    }
  }
}
