@import '../../scss/vars.scss';

.rc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $basic-height;
  min-width: $basic-height;
  border-radius: $border-radius;
  padding-left: 1.25em;
  padding-right: 1.25em;
  outline: 0 !important;
  outline-style: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: all 0.25s;
  box-shadow: $neumorphism-flat;

  &:hover:not(:disabled),
  &:focus,
  &.--pressed {
    box-shadow: $neumorphism-pressed;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.rc-button.--transparent {
  background-color: transparent;
  box-shadow: none;
}

.rc-button.--circle {
  padding-left: 0;
  padding-right: 0;
  border-radius: 100em;
}

.rc-button.--icon-button {
  padding-left: 0;
  padding-right: 0;
}

.rc-button.--rounded {
  border-radius: 100em;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-button {
    &:not(.--transparent) {
      box-shadow: $neumorphism-darkmode-flat;
    }

    &:hover:not(:disabled),
    &:focus,
    &.--pressed {
      box-shadow: $neumorphism-darkmode-pressed;
    }
  }
}
