@import '../../style/vars.scss';

.rc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $basic-height;
  min-width: $basic-height;
  border-radius: $border-radius;
  background-color: var(--button--bg);
  padding-left: 1.25em;
  padding-right: 1.25em;
  outline: 0 !important;
  outline-style: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button--hover-bg);
  }

  &:hover {
    color: var(--primary--500);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    background-color: var(--button--disabled-bg);
    color: #fff;
  }
}

.rc-button.--circle {
  padding-left: 0;
  padding-right: 0;
  border-radius: 100em;
}

.rc-button.--icon-button {
  padding-left: 0;
  padding-right: 0;
}

.rc-button:not(.--icon-button) > .rc-icon:nth-child(1) {
  margin-right: 0.5em;
}

.rc-button:not(.--icon-button) > .rc-icon:last-child {
  margin-left: 0.5em;
}

.rc-button.--rounded {
  border-radius: 100em;
}

.rc-button.--primary {
  background-color: var(--primary--500);
  color: #fff;

  &:hover,
  &:focus {
    background-color: var(--primary--600);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    background-color: var(--primary--200);
  }
}

.rc-button.--colored {
  color: #ffffff;
  opacity: 0.8;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    opacity: 0.8;
  }
}

.rc-button.--danger {
  background-color: var(--red--500);
  color: #fff;

  &:hover,
  &:focus {
    background-color: var(--red--600);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    background-color: var(--red--200);
  }
}

.rc-button.--glassed {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: var(--primary--500);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.rc-button.--transparent {
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--button--bg);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    background-color: transparent;
    color: var(--text-color);
  }
}

.rc-button.--loading {
  &:disabled {
    color: var(--text-color);
  }

  > .rc-loader-spinner {
    margin-right: 0.5em;
  }
}

.rc-button.--circle.--loading > .rc-loader-spinner {
  width: 2em;
  height: 2em;
  margin: 0;
  z-index: 1;
  position: absolute;
}
