@import '../../scss/vars.scss';

.rc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $basic-height;
  min-width: $basic-height;
  border-radius: $border-radius;
  padding-left: 1.25em;
  padding-right: 1.25em;
  outline: 0 !important;
  outline-style: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  background-color: var(--rc-color--500);
  box-shadow: var(--rc-neu-flat--500);

  &:focus,
  &.--pressed {
    box-shadow: var(--rc-neu-pressed--500);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.rc-button.--circle {
  padding-left: 0;
  padding-right: 0;
  border-radius: 100em;
}

.rc-button.--icon-button {
  padding-left: 0;
  padding-right: 0;
}

.rc-button.--rounded {
  border-radius: 100em;
}
