@import '../../style/vars.scss';

.rc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $basic-height;
  min-width: $basic-height;
  border-radius: $border-radius;
  padding-left: 1.25em;
  padding-right: 1.25em;
  outline: 0 !important;
  outline-style: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  background-color: var(--rc-color--450);
  box-shadow: var(--rc-neu-flat--450);

  &:focus,
  &.--pressed {
    box-shadow: var(--rc-neu-pressed--450);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.rc-button.--circle {
  padding-left: 0;
  padding-right: 0;
  border-radius: 100em;
}

.rc-button.--icon-button {
  padding-left: 0;
  padding-right: 0;
}

.rc-button.--rounded {
  border-radius: 100em;
}

.rc-button.--primary {
  background-color: $primary-color--500;
  color: $dark-text-color;
  box-shadow: none;

  &:hover {
    background-color: $primary-color--600;
  }
}

.rc-button.--colored {
  box-shadow: none;
  color: $dark-text-color;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    opacity: 0.9;
  }
}

.rc-button.--danger {
  background-color: $red-color--500;
  color: $dark-text-color;
  box-shadow: none;

  &:hover {
    background-color: $red-color--600;
  }

  &:focus {
    box-shadow: none;
  }
}

.rc-button.--glassed {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    opacity: 0.9;
  }
}
