@import '../../scss/vars.scss';

.rc-button {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $basic-height;
  min-width: $basic-height;
  border-radius: $border-radius;
  padding-left: 1.25em;
  padding-right: 1.25em;
  outline: 0 !important;
  outline-style: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: all 0.25s;
  background-color: $root-bg-color;
  box-shadow: $neumorphism;

  &:hover:not(:disabled),
  &:focus:not(:hover) {
    box-shadow: $neumorphism-inset;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.rc-button--transparent {
  background-color: transparent;
  box-shadow: none;
}

.rc-button--circle {
  padding-left: 0;
  padding-right: 0;
  border-radius: 100em;
}

.rc-button--rounded {
  border-radius: 100em;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-button {
    background-color: $root-darkmode-bg-color;
    box-shadow: $neumorphism-darkmode;

    &:hover:not(:disabled),
    &:focus:not(:hover):not(:disabled) {
      box-shadow: $neumorphism-darkmode-inset;
    }
  }

  .rc-button--transparent {
    background-color: transparent;
    box-shadow: none;
  }
}
