@import '../../scss/vars.scss';

.rc-menubar-wrapper {
  box-sizing: border-box;
  height: 6em;
}

.rc-menubar {
  // position: fixed;
  // top: 0;
  // z-index: 100;
  height: inherit;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .rc-menubar-user-section {
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
}
