@import '../../scss/vars.scss';

.rc-input-number {
  position: relative;
  width: 100%;
}

.rc-input-number-input {
  -moz-appearance:textfield;
  padding-right: 3em;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.rc-input-number-handler {
  position: absolute;
  right: 4px;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  user-select: none;
  // box-shadow: var(--rc-neu-flat--500);
  overflow: hidden;
}

.rc-select-up,
.rc-select-down {
  height: $input-height / 2;
  outline: 0 !important;
  background-color: transparent;
  border: none;

  &:hover:not(:disabled) {
    background-color: $primary-color--500;
    color: $dark-text-color;
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
