@import '../../style/vars.scss';

// anti --icon-only
.fui-menu-item-group--hidden.fui-menu-item-group--hidden {
  display: none;
}

.fui-menu-item-group--icon-only {
  .fui-menu-item-group-title {
    display: none;
  }
}

.fui-menu-item-group-title {
  width: 100%;
  display: flex;
  align-items: center;
  height: 3em;
  text-transform: uppercase;

  > span {
    padding-right: 0.5em;
    padding-left: 1em;
  }
}
