@import '../../style/vars.scss';

.rc-menu-item {
  display: flex;
  align-items: center;
  padding: 0 $content-spacing;
  height: 3em;
  cursor: pointer;

  &:hover {
    color: var(--rc-primary--500);
  }

  // anti --icon-only
  &.--hidden.--hidden {
    display: none;
  }

  &.--selected,
  &.--selected:hover {
    background-color: var(--rc-primary--500);
    color: #ffffff;
  }

  &.--icon-only {
    display: flex;
    justify-content: center;

    .rc-menu-item-title-icon {
      margin-right: 0;
    }

    .rc-menu-item-content {
      display: none;
    }

    &.--title-only {
      .rc-menu-item-title-icon {
        display: none;
      }
    }
  }
}

.rc-menu-item.--disabled {
  cursor: not-allowed;

  &:hover {
    background-color: inherit;
  }
}

.rc-menu-item-title-icon {
  margin-right: 1rem;
}
