@import '../../style/vars.scss';

.fui-menu-item {
  display: flex;
  align-items: center;
  padding: 0 var(--content-spacing);
  height: 3em;
  cursor: pointer;

  &:hover {
    color: var(--primary--500);
  }
}

// anti --icon-only
.fui-menu-item--hidden.fui-menu-item--hidden {
  display: none;
}

.fui-menu-item--selected,
.fui-menu-item--selected:hover {
  background-color: var(--primary--500);
  color: #ffffff;
}

.fui-menu-item--disabled {
  cursor: not-allowed;

  &:hover {
    background-color: inherit;
  }
}

.fui-menu-item--icon-only {
  display: flex;
  justify-content: center;

  .fui-menu-item-title-icon .fui-icon {
    margin-right: 0;
  }

  .fui-menu-item-content {
    display: none;
  }
}

.fui-menu-item--icon-only.fui-menu-item--title-only {
  .fui-menu-item-title-icon .fui-icon {
    display: none;
  }
}

.fui-menu-item-title-icon .fui-icon {
  margin-right: 1rem;
}
