@import '../../style/vars.scss';

.rc-menu-item-group {
  // anti --icon-only
  &.--hidden.--hidden {
    display: none;
  }

  &.--icon-only {
    .rc-menu-item-group-title {
      display: none;
    }
  }
}

.rc-menu-item-group-title {
  width: 100%;
  display: flex;
  align-items: center;
  height: 3em;
  text-transform: uppercase;

  > span {
    padding-right: 0.5em;
    padding-left: 1em;
  }
}
