@import '../../style/vars.scss';

.fmenu-item {
  display: flex;
  align-items: center;
  padding: 0 var(--content-spacing);
  height: 3em;
  cursor: pointer;

  &:hover {
    color: var(--primary--500);
  }
}

// anti --icon-only
.fmenu-item-hidden.fmenu-item-hidden {
  display: none;
}

.fmenu-item-selected,
.fmenu-item-selected:hover {
  background-color: var(--primary--500);
  color: #ffffff;
}

.fmenu-item-disabled {
  cursor: not-allowed;

  &:hover {
    background-color: inherit;
  }
}

.fmenu-item-icon-only {
  display: flex;
  justify-content: center;

  .fmenu-item-title-icon .ficon {
    margin-right: 0;
  }

  .fmenu-item-content {
    display: none;
  }
}

.fmenu-item-icon-only.fmenu-item-title-only {
  .fmenu-item-title-icon .ficon {
    display: none;
  }
}

.fmenu-item-title-icon .ficon {
  margin-right: 1rem;
}
