@import '../../scss/vars.scss';

.rc-menu-item-group {
  margin-top: 2rem;
  margin-bottom: 2rem;

  &.--icon-only {
    .rc-menu-item-group-title {
      display: none;
    }
  }
}

.rc-menu-item-group-title {
  display: flex;
  align-items: center;
  padding: 0 $content-spacing;
  height: 3em;
  text-transform: uppercase;
  color: #a9a9a9;
}

