@import '../../style/vars.scss';
@import './Item.scss';
@import './ItemGroup.scss';
@import './Sub.scss';

.rc-menu-wrapper {
  position: relative;
}

.rc-menu {
  border-radius: $border-radius;
  overflow: hidden;
  user-select: none;
  min-width: 12em;
  background-color: var(--rc-color--300);
}

.rc-menu.--icon-only {
  min-width: unset;
}
