@import '../../scss/vars.scss';

.rc-menu {
  border-radius: $border-radius;
  overflow: hidden;
  background-color: #dfe1e4;
  user-select: none;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-menu {
    background-color: $secondary-darkmode-bg-color;
  }
}
