.fui-menu-sub--expanded {
  .fui-menu-sub-icon {
    transform: rotate(180deg);
  }
}

// anti --icon-only
.fui-menu-sub--hidden.fui-menu-sub--hidden {
  display: none;
}

.fui-menu-sub--icon-only {
  .fui-menu-sub-title {
    justify-content: center;
  }

  .fui-menu-sub-title-icon {
    margin-right: 0;
  }

  .fui-menu-sub-icon,
  .fui-menu-sub-content {
    display: none;
  }
}

.fui-menu-sub-title {
  padding: 0 var(--content-spacing);
  height: 3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menu--bg);

  &:hover {
    color: var(--primary--500);
  }
}

.fui-menu-sub-title-icon {
  margin-right: 1rem;
}

.fui-menu-sub-list {
  background-color: var(--sub-menu--bg);
}
