@import '../../style/vars.scss';

.rc-menu-sub {
  &.--expanded {
    .rc-menu-sub-icon {
      transform: rotate(180deg);
    }
  
    .rc-menu-sub-list {
      display: block;
    }
  }

  &.--icon-only {
    .rc-menu-sub-title {
      justify-content: center;
    }

    .rc-menu-sub-title-icon {
      margin-right: 0;
    }

    .rc-menu-sub-icon,
    .rc-menu-sub-content {
      display: none;
    }
  }
}

.rc-menu-sub-title {
  padding: 0 $content-spacing;
  height: 3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--rc-color--300);

  &:hover,
  &.--selected {
    background-color: $primary-color--500;
    color: $light--500;
  }
}

.rc-menu-sub-title-icon {
  margin-right: 1rem;
}

.rc-menu-sub-list {
  display: none;
  background-color: var(--rc-color--600);
}
