.rc-menu-sub {
  &.--expanded {
    .rc-menu-sub-icon {
      transform: rotate(180deg);
    }
  }

  // anti --icon-only
  &.--hidden.--hidden {
    display: none;
  }

  &.--icon-only {
    .rc-menu-sub-title {
      justify-content: center;
    }

    .rc-menu-sub-title-icon {
      margin-right: 0;
    }

    .rc-menu-sub-icon,
    .rc-menu-sub-content {
      display: none;
    }
  }
}

.rc-menu-sub-title {
  padding: 0 var(--content-spacing);
  height: 3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menu--bg);

  &:hover {
    color: var(--primary--500);
  }
}

.rc-menu-sub-title-icon {
  margin-right: 1rem;
}

.rc-menu-sub-list {
  background-color: var(--sub-menu--bg);
  overflow: hidden;
}
