@import './Portal.scss';
@import './Header.scss';
@import './Body.scss';
@import './Footer.scss';

.fdlg {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 30em;
  max-height: 100vh;
  background-color: var(--bg);
  border-radius: var(--popup--border-radius);
}
