@import './Portal.scss';
@import './Header.scss';
@import './Body.scss';
@import './Footer.scss';

.fdlg {
  background-color: var(--bg);
  border-radius: var(--popup--border-radius);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-width: 30em;
  position: relative;
}
