.fdlg-header {
  padding: 0 0.5em 0 1em;
  height: 3.5em;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.fdlg-header-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.fdlg-header-support-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fdlg-header-refresh-btn,
.fdlg-header-close-btn {
  margin-left: 0.5em;
}
