@import '../../style/vars.scss';

.rc-form > .rc-form-field {
  margin-bottom: 1rem;
}

.rc-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rc-form-field-label {
  height: $basic-height;
  display: flex;
  align-items: center;
}

.rc-form-field-label.--required {
  &:after {
    content: "*";
    color: $red--400;
    font-size: 1.25em;
    margin: 0 0.125em;
  }
}

.rc-form-field-message {
  padding: 0.25em 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rc-form-field-message.--error {
  color: $red--300;
}
