@import '../../scss/vars.scss';

.rc-textarea {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  border-radius: $border-radius-medium;
  padding: 0.5em 1em;
  transition: all 0.25s;
  box-shadow: $neumorphism-pressed;
}

.rc-textarea-label {
  height: $basic-height;
  font-weight: 500;
  display: flex;
  align-items: center;
  user-select: none;
}

.rc-textarea-error {
  font-size: 0.85em;
  font-style: italic;
  color: $error-color;
}

.rc-textarea > textarea {
  width: 100%;
  min-height: 5em;
  outline: 0 !important;
  touch-action: manipulation;
  background-color: transparent;
}

.rc-textarea > textarea:disabled {
  cursor: not-allowed;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-textarea {
    box-shadow: $neumorphism-darkmode-pressed;
  }
}
