@import '../../style/vars.scss';

.rc-textarea {
  min-height: $input-height;
  outline: 0 !important;
  border: 0;
  width: 100%;
  border-radius: $border-radius;
  padding: $input-spacing;
  transition: box-shadow 0.25s;
  background-color: var(--rc-color--450);
  box-shadow: var(--rc-neu-pressed--450);

  &:disabled {
    cursor: not-allowed;
  }
}
