.fui-speed-dial.fui-overlay--top,
.fui-speed-dial.fui-overlay--top-right,
.fui-speed-dial.fui-overlay--right-top,
.fui-speed-dial.fui-overlay--right,
.fui-speed-dial.fui-overlay--right-bottom,
.fui-speed-dial.fui-overlay--bottom-right,
.fui-speed-dial.fui-overlay--bottom,
.fui-speed-dial.fui-overlay--bottom-left,
.fui-speed-dial.fui-overlay--left,
.fui-speed-dial.fui-overlay--left-bottom,
.fui-speed-dial.fui-overlay--left-top,
.fui-speed-dial.fui-overlay--top-left {
  .fui-button {
    margin: 0.25em;
  }

  .fui-speed-dial-buttons {
    display: flex;
  }

  &.fui-speed-dial--horizontal > .fui-speed-dial-buttons {
    flex-direction: column;
  }
  &.fui-speed-dial--vertical > .fui-speed-dial-buttons {
    flex-direction: row;
  }
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(.25);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fui-speed-dial .fui-button {
  animation: scale ease alternate;
}

.fui-speed-dial .fui-button:nth-child(1) {
  animation-duration: 0.1s;
}

.fui-speed-dial .fui-button:nth-child(2) {
  animation-duration: 0.2s;
}

.fui-speed-dial .fui-button:nth-child(3) {
  animation-duration: 0.3s;
}

.fui-speed-dial .fui-button:nth-child(4) {
  animation-duration: 0.4s;
}

.fui-speed-dial .fui-button:nth-child(5) {
  animation-duration: 0.5s;
}

.fui-speed-dial .fui-button:nth-child(6) {
  animation-duration: 0.6s;
}

.fui-speed-dial .fui-button:nth-child(7) {
  animation-duration: 0.7s;
}

.fui-speed-dial .fui-button:nth-child(8) {
  animation-duration: 0.8s;
}

.fui-speed-dial .fui-button:nth-child(9) {
  animation-duration: 0.9s;
}

.fui-speed-dial .fui-button:nth-child(10) {
  animation-duration: 1s;
}
