@import '../../../scss/vars.scss/';
@import '../../../scss/animation.scss';

.module-music-player {
  width: 30em;
  height: 6em;
  background-color: $root-bg-color;
  box-shadow: $neumorphism;
  border-radius: 100em;
}

// DARK MODE SUPPORT
.dark-mode {
  .module-music-player {
    background-color: $root-darkmode-bg-color;
    box-shadow: $neumorphism-darkmode;
  }
}
