@import './Item.scss';

.rc-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.rc-tabs-nav {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
}

.rc-tabs-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  outline: 0 !important;
  outline-style: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border-color 0.25s;
  font-weight: 600;

  &:disabled {
    cursor: not-allowed;
  }

  .rc-icon.--icon-left {
    margin-right: 0.5em;
  }

  .rc-icon.--icon-right {
    margin-left: 0.5em;
  }
}

.rc-tabs.--uppercase {
  > .rc-tabs-nav .rc-tabs-nav-item {
    text-transform: uppercase;
  }
}

.rc-tabs.--underline > .rc-tabs-nav .rc-tabs-nav-item {
  border-bottom-color: currentColor;
}

.rc-tabs.--fluid {
  .rc-tabs-nav-item {
    flex-grow: 1;
  }

  .rc-tabs-nav-item.--rest {
    display: none;
  }
}

.rc-tabs-nav-item.--active {
  color: var(--primary--500);
}

.rc-tabs-nav-item.--rest {
  flex-grow: 1;
}

.rc-tabs-contents {
  margin-top: 2px;
}

.rc-tabs-contents > * {
  animation: fadeIn 0.5s;
}
