@import '../../scss/vars.scss';
@import '../../scss/animation.scss';

.rc-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.rc-tabs-nav {
  display: flex;
}

.rc-tabs-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 10em;
  border-radius: 0;
  cursor: pointer;
  outline: 0 !important;
  border: none;
  margin-right: 0.75em;
  background-color: $root-bg-color;
  box-shadow: $neumorphism;
  transition: all 0.5s;
}

.rc-tabs-nav .rc-tabs-nav-item:last-child {
  margin-right: 0;
}

.rc-tabs-nav-item--active {
  background-color: $root-bg-color;
  box-shadow: $neumorphism-inset;
}

.rc-tabs-contents {
  margin-top: 0.75em;
}

.rc-tabs-contents > * {
  animation: fadeIn 0.5s;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-tabs-nav-item {
    background-color: $root-darkmode-bg-color;
    box-shadow: $neumorphism-darkmode;
  }

  .rc-tabs-nav-item--active {
    box-shadow: $neumorphism-darkmode-inset;
  }
}