@import './Tab.scss';
@import './Panel.scss';

.ftabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--bg);
  z-index: 1;
  padding-top: 1em;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  overflow: hidden;
}
