@import '../../scss/vars.scss';

.rc-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.rc-tabs.--fluid {
  .rc-tabs-nav-item {
    flex-grow: 1;
  }
}

.rc-tabs-nav {
  display: flex;
}

.rc-tabs-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 10em;
  border-radius: 0;
  cursor: pointer;
  outline: 0 !important;
  border: none;
  box-shadow: $neumorphism-pressed;
  transition: all 0.5s;
}

.rc-tabs-nav .rc-tabs-nav-item:last-child {
  margin-right: 0;
}

.rc-tabs-nav-item.--active {
  box-shadow: $neumorphism-flat;
}

.rc-tabs-contents {
  margin-top: 0.15em;
}

.rc-tabs-contents > * {
  animation: fadeIn 0.5s;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-tabs-nav-item {
    box-shadow: $neumorphism-darkmode-pressed;
  }

  .rc-tabs-nav-item.--active {
    box-shadow: $neumorphism-darkmode-flat;
  }
}
