@import '../../scss/vars.scss';

.rc-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.rc-tabs-nav {
  display: flex;
}

.rc-tabs-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 10em;
  border-radius: 0;
  cursor: pointer;
  outline: 0 !important;
  border: none;
  margin-right: 0.125em;
  box-shadow: $neumorphism-inset;
  transition: all 0.5s;
}

.rc-tabs-nav .rc-tabs-nav-item:last-child {
  margin-right: 0;
}

.rc-tabs-nav-item.--active {
  box-shadow: $neumorphism;
}

.rc-tabs-contents {
  margin-top: 0.25em;
  box-shadow: $neumorphism;
}

.rc-tabs-contents > * {
  animation: fadeIn 0.5s;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-tabs-nav-item {
    box-shadow: $neumorphism-darkmode-inset;
  }

  .rc-tabs-nav-item.--active {
    box-shadow: $neumorphism-darkmode;
  }

  .rc-tabs-contents {
    box-shadow: $neumorphism-darkmode;
  }
}
