@import '../../scss/vars.scss';

.rc-pure-confirm {
  position: relative;
  width: 33em;
  max-width: 100vw;
  background-color: var(--rc-color--500);
  box-shadow: var(--rc-neu-flat--500);
  border-radius: $border-radius;
}

.rc-pure-confirm-title {
  padding: 1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--rc-text-color);
}

.rc-pure-confirm-content {
  padding: 1.5em 1em;
}

.rc-pure-confirm-handler {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
