@import '../../style/vars.scss';

$pure-confirm--background-color: var(--rc-color--500);
$pure-confirm-title--background-color: var(--rc-color--600);

.rc-pure-confirm {
  position: relative;
  width: 33em;
  max-width: 100vw;
  background-color: $pure-confirm--background-color;
  border-radius: $border-radius;
  overflow: hidden;
}

.rc-pure-confirm-title {
  padding: 0 1em;
  height: 3.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: $pure-confirm-title--background-color;
}

.rc-pure-confirm-content {
  padding: 1.5em 1em;
}

.rc-pure-confirm-handler {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em;
}

.pure-confirm--no-boxshadow {
  box-shadow: none;
}
