@import '../../style/vars.scss';

.fform > .fform-field {
  margin-bottom: 1rem;
}

.fform-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fform-field-label {
  height: var(--basic-height);
  display: flex;
  align-items: center;
}

.fform-field-label-required {
  &:after {
    content: "*";
    color: var(--red--400);
    font-size: 1.25em;
    margin: 0 0.125em;
  }
}

.fform-field-message {
  padding: 0.25em 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fform-field-message-error {
  color: var(--red--300);
}
