@import '../../style/vars.scss';

.fform > .fform-field {
  margin-bottom: 1rem;
}

.fform-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fform-field-label {
  align-items: center;
  display: flex;
  height: var(--basic-height);
}

.fform-field-label-required {
  &::after {
    color: var(--red--400);
    content: '*';
    font-size: 1.25em;
    margin: 0 0.125em;
  }
}

.fform-field-message {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0.25em 0;
}

.fform-field-message-error {
  color: var(--red--300);
}
