.fbadge-label {
  background-color: var(--red);
  border: 2px solid var(--bg);
  border-radius: 999px;
  color: #fff;
  font-family: sans-serif;
  height: 2.25em;
  min-width: 2.25em;
}

.fbadge-label-display {
  padding: 0 0.5em;
  white-space: nowrap;
}
