@import '../../scss/vars.scss';

.rc-switch {
  display: block;
  position: relative;
  box-sizing: border-box;
  outline: 0 !important;
  width: 3.75em;
  height: 2em;
  border-radius: 100em;
  box-shadow: var(--rc-neu-flat--500);
  background-color: var(--rc-color--500);
  transition: all 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.rc-switch.--checked {
  box-shadow: var(--rc-neu-pressed--500);

  .rc-switch-inner {
    background: $primary-color--500--gradient;
    box-shadow: var(--rc-neu-flat--500);
    transform: translateX(1.75em);
  }
}

.rc-switch-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;

  &:disabled {
    cursor: not-allowed;
  }
}

.rc-switch-inner {
  box-shadow: var(--rc-neu-pressed--500);
  height: 1.5em;
  width: 1.5em;
  margin: 0 0.25em;
  border-radius: 100em;
  transition: all 0.4s;
}
