.fui-switch {
  display: block;
  position: relative;
  box-sizing: border-box;
  outline: 0 !important;
  width: 3.25em;
  height: 1.75em;
  border-radius: 100em;
  background-color: var(--input--bg);
  transition: background-color 0.25s, box-shadow 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.fui-switch--checked {
  background: var(--primary--500);

  .fui-switch-inner {
    transform: translateX(1.5em);
    background-color: #fff;
  }
}

.fui-switch-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;

  &:disabled {
    cursor: not-allowed;
  }
}

.fui-switch-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary--500);
  background-color: var(--switch-inner--bg);
  height: 1.5em;
  width: 1.5em;
  margin: 0 0.15em;
  border-radius: 100em;
  transition: box-shadow  0.25s, background-color 0.25s, transform 0.25s;
}
