.fskele {
  background-color: var(--color-low-emphasis);
}

.fskele-circle {
  --size: 2.5em;
  border-radius: 999px;
  height: var(--size);
  margin-bottom: 0.5rem;
  width: var(--size);
}

.fskele-rect,
.fskele-p {
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  width: 100%;
}

.fskele-rect {
  min-height: 1.5rem;
}

.fskele-p {
  height: 1.5rem !important;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-low-emphasis);
  }

  100% {
    background-color: var(--bg);
  }
}

.fskele-animated {
  animation: skeleton-loading 2s linear infinite alternate;
}
