@import './SingleSlider.scss';

.fslider {
  cursor: pointer;
  padding: 1.25rem 0;
  position: relative;
  user-select: none;
  width: 100%;
}

.fslider-rail {
  background-color: var(--secondary-bg);
  box-shadow: var(--slider-rail--box-shadow);
}

.fslider-rail-dots,
.fslider-rail {
  border-radius: 100em;
  height: 0.15em;
  left: 0;
  min-height: 3px;
  position: absolute;
  width: 100%;
}

.fslider-rail-dots {
  display: flex;
  z-index: 1;

  li {
    background-color: #ffe600;
    border-radius: 100rem;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.25em;
  }
}

.fslider-rail-percent {
  background-color: var(--primary);
  border-radius: 100em;
  height: 100%;
  left: 0;
  position: absolute;
}

.fslider-handler-main {
  right: 0;
  z-index: 2;
}

.fslider-handler-support {
  display: none;
  left: 0;
  z-index: 2;
}

.fslider-range {
  .fslider-handler-support {
    display: block;
  }
}
