@import '../../style/vars.scss';

.rc-password {
  position: relative;
  width: 100%;

  > .rc-input {
    padding-right: 3em;
  }
}

.rc-password-eye {
  position: absolute;
  right: 0.75em;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    transform: translateY(-50%) scale(1.1);
  }
}
