@import '../../scss/vars.scss';

.rc-password {
  position: relative;

  > .rc-input {
    padding-right: 3em;
  }
}

.rc-password-eye {
  position: absolute;
  right: 0.75em;
  top: 0.75em;

  &:hover {
    transform: scale(1.1);
  }
}
