@import '../../../scss/vars.scss';

.left-sidebar-container {
  width: 6rem;
  height: 100vh;
  transition: all 0.25s;

  &.--expanded {
    width: 20rem;
  }
}

.left-sidebar-wrapper {
  position: fixed;
  width: inherit;
  height: inherit;
  padding: 0.5rem;

  &.--expanded {
    width: 20rem;
  }
}

.left-sidebar {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  > .__logo {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }

  > .__menu {
    border-radius: 0;
  }
}

// DARK MODE SUPPORT
.dark-mode {
  .left-sidebar {
    background-color: $dark-bg-color--400;

    > .__menu {
      background-color: $dark-bg-color--400;
    }
  }
}