@import './Item.scss';
@import './Dots.scss';

.fcarousel {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.fcarousel-container {
  position: relative;
  width: 100%;
}

.fcarousel-box {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  transition: left 0.25s, right 0.25s;
}

.fcarousel-handler {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem;
  width: 100%;
}
