.fcarousel-dots {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.fcarousel-dot {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100rem;
  cursor: pointer;
  height: 1em;
  margin: 0 0.15rem;
  transition: width 0.25s, height 0.25s;
  width: 1em;
}

.fcarousel-dot-active {
  background-color: var(--primary);
}
