@import '../../scss/vars.scss';

.rc-confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-drawer;
  background-color: $overlay-wrapper-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .rc-pure-confirm {
    position: absolute;
    top: 15%;
    animation: zoomIn 0.25s;
    box-shadow: none;
  }

  &.--close-animation {
    background-color: transparent;
    animation: zoomOut 0.25s;
  }
}

// DARK MODE
