@import '../../style/vars.scss';

.fui-confirm-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .fui-confirm {
    position: absolute;
    top: 15%;
    animation: zoomIn 0.25s;
    box-shadow: none;
  }
}

.fui-confirm-container--close-animation {
  background-color: transparent;
  animation: zoomOut 0.25s;
}
