@import '../../style/vars.scss';

.rc-confirm-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .rc-confirm {
    position: absolute;
    top: 15%;
    animation: zoomIn 0.25s;
    box-shadow: none;
  }

  &.--close-animation {
    background-color: transparent;
    animation: zoomOut 0.25s;
  }
}
