@import '../../scss/vars.scss';

.rc-confirm {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: $overlay-wrapper-bg-color;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  .rc-pure-confirm {
    top: -20%;
    animation: zoomIn 0.25s;
    box-shadow: none;
  }
}

.rc-confirm.--close-animation {
  background-color: transparent;

  .rc-pure-confirm {
    animation: zoomOut 0.25s;
  }
}
