.fbred > .fbred-item:last-child {
  color: var(--primary);
}

.fbred-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: var(--basic-height);
  padding: 0 1.5em 0 0;
  position: relative;
  user-select: none;
}

.fbred-item-title {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}
