@import '../../style/vars.scss';

.fui-circle-progress {
  position: relative;
  border-radius: 100em;
  user-select: none;
}

svg.fui-circle-progress-svg {
  position: relative;
  height: 100%;
  width: 100%;
}

circle.fui-circle-progress-percent {
  height: 100%;
  width: 100%;
  fill: none;
  transition: stroke-dashoffset 0.5s;
  transform: translate(10px, 10px);
  stroke-linecap: round;
  stroke: var(--primary--500);
}

.fui-circle-progress-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  vertical-align: middle;
}
