@import '../../style/vars.scss';

.rc-circle-progress {
  position: relative;
  border-radius: 100em;
  user-select: none;
  box-shadow: var(--rc-neu-pressed--500);
  background-color: var(--rc-color--500);
}

.rc-circle-progress-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--rc-neu-flat--500);
  border-radius: 100em;
}

svg.rc-circle-progress-svg {
  position: relative;
  height: 100%;
  width: 100%;
}

circle.rc-circle-progress-percent {
  height: 100%;
  width: 100%;
  fill: none;
  transition: stroke-dashoffset 0.5s;
  transform: translate(10px, 10px);
  stroke-linecap: round;
  stroke: $primary-color--500;
}

.rc-circle-progress-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  vertical-align: middle;
}
