@import '../../style/vars.scss';

.rc-linear-progress {
  position: relative;
  width: 100%;
  padding: 2rem 0;
}

.rc-linear-progress-rail {
  height: 0.175em;
  min-height: 3px;
  width: 100%;
  position: absolute;
  border-radius: 100em;
  box-shadow: var(--rc-neu-pressed--500);
  background-color: var(--rc-color--500);
}

.rc-linear-progress-rail-percent {
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: 100em;
  background-color: $primary-color--500;
  transition: width 0.25s;
}

.rc-linear-progress-droplet {
  position: absolute;
  top: -3.75em;
  right: -1.25em;
  transition: opacity 0.25s;
}

.rc-linear-progress-droplet.--hidden {
  opacity: 0;
}
