.fui-breadcrumb > .fui-breadcrumb-item:last-child {
  color: var(--primary--500);
}

.fui-breadcrumb-item {
  height: var(--basic-height);
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 0;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.fui-breadcrumb-item-title {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}
