@import '../../scss/vars.scss';

.rc-breadcrumb > .rc-breadcrumb-item:last-child {
  color: $primary-color;
  background-color: $dark-bg-color--300;

  &:after {
    border: none;
  }
}

.rc-breadcrumb > .rc-breadcrumb-item:nth-child(1) {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.rc-breadcrumb-item {
  height: $basic-height;
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 1.75em;
  cursor: pointer;
  user-select: none;
  position: relative;
  background-color: $dark-bg-color--400;

  &:hover {
    background-color: $dark-bg-color--300;
  }

  &:after {
    content: " ";
    position: absolute;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border: 1px dashed $dark-bg-color--200;
    height: 1.725em;
    width: 1.725em;
    background-color: inherit;
    border-top-right-radius: 0.25em;
    z-index: 1;
  }

  &:before {
    content: " ";
    position: absolute;
    right: 0;
    height: 100%;
    width: 1.5em;
    background-color: inherit;
    z-index: 2;
  }
}

.rc-breadcrumb-item-title {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

// DARK MODE SUPPORT
