h1.ftypo,
h2.ftypo,
h3.ftypo,
h4.ftypo,
h5.ftypo,
h6.ftypo {
  font-weight: 600;
  margin-bottom: .5em;
  color: var(--text-color--heading);
}

h1.ftypo {
  font-size: 2em;
}

h2.ftypo {
  font-size: 1.5em;
}

h3.ftypo {
  font-size: 1.17em;
}

h4.ftypo {
  font-size: 1em;
}

h5.ftypo {
  font-size: .83em;
}

h6.ftypo {
  font-size: .67em;
}

.ftypo-disabled {
  user-select: none;
  cursor: not-allowed !important;
  color: var(--text-color--disabled);
}

.ftypo-underline {
  text-decoration: underline;
}

.ftypo-line-through {
  text-decoration: line-through;
}

.ftypo-italic {
  font-style: italic;
}

.ftypo-oblique {
  font-style: oblique;
}

.ftypo-strong {
  font-weight: 600;
}
