h1.fui-typo,
h2.fui-typo,
h3.fui-typo,
h4.fui-typo {
  font-weight: 600;
  margin-bottom: .5em;
}

h1.fui-typo {
  font-size: 2em;
}

h2.fui-typo {
  font-size: 1.5em;
}

h3.fui-typo {
  font-size: 1.17em;
}

h4.fui-typo {
  font-size: 1em;
}

h5.fui-typo {
  font-size: .83em;
}

h6.fui-typo {
  font-size: .67em;
}

.fui-typo--disabled {
  user-select: none;
  cursor: not-allowed !important;
  color: var(--disabled-text-color);
}

.fui-typo--underline {
  text-decoration: underline;
}

.fui-typo--line-through {
  text-decoration: line-through;
}

.fui-typo--italic {
  font-style: italic;
}

.fui-typo--oblique {
  font-style: oblique;
}

.fui-typo--strong {
  font-weight: 600;
}
