@import '../../scss/vars.scss';

.rc-select-container {
  width: 100%;
  padding: 3px;
  border-radius: $border-radius;
  box-shadow: var(--rc-neu-pressed--450);
  background-color: var(--rc-color--450);
}

.rc-select {
  position: relative;
  width: 100%;
  user-select: none;
}

.rc-select-input {
  height: $input-height;
  outline: 0 !important;
  border: 0;
  width: 100%;
  border-radius: $border-radius;
  padding: 0 3em 0 $input-spacing;
  box-shadow: var(--rc-neu-flat--450);
  background-color: var(--rc-color--450);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.rc-select-input-placeholder {
  color: $placeholder-text-color;
}

.rc-select-icon {
  position: absolute;
  right: 0.75em;
  top: 0.75em;
}

.rc-select.--disabled {
  cursor: not-allowed;
}

.rc-select.--is-drop {
  .rc-select-icon {
    transform: rotate(180deg);
  }
}
