:root {
  --input-height: 32px;
  --input-spacing: 0.75em;
  --content-spacing: 1em;
  --basic-height: 32px;
  --border-radius: 3px;
  --border-radius-medium: 5px;

  --zindex-notification: 1000;
  --zindex-alert: 1000;
  --zindex-modal: 1000;
  --zindex-confirm: 1000;
  --zindex-tooltip: 1001;
  --zindex-drawer: 1000;
  --zindex-overlay: 1010;
}
