.dark-mode {
  --body-bg: #181818;

  --bg: #242526;
  --bg-disabled: #4f5151;
  --rail-color: #4f5151;

  --color: #fff;
  --color-low-emphasis: #aaaaaa;
  --color-disabled: #848585;

  --primary: #ebb62c;
  --primary-hover: #ffc52d;
  --primary-low-emphasis: #46420e;

  --red: #b10303;
  --red-hover: #c00;
  --red-low-emphasis: #3a1f1f;

  --green: #57ec0a;
  --green-hover: #57ec0a;
  --green-low-emphasis: #283520;

  // BUTTON
  --btn-bg: #4b4c4f;
  --btn-hover-bg: #696a6b;
  --btn-hover-border-color: transparent;

  // SWITCH
  --switch-lever-color-disabled: #424242;

  // AVATAR
  --avatar-bg: #2e3031;

  // CHIP
  --chip-bg: #4b4c4f;
  --chip-hover-bg: #696a6b;
  --chip-close-bg: #818286;

  // POPOVER
  --popover-box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);
}

.dark-mode {
  background-color: var(--body-bg);
  color: #fff;
}
.dark-mode {
  --tab-title--active: rgba(0, 0, 0, 0.2);

  --input--bg: var(--secondary-bg);
  --input--disabled-bg: #4e4f50;
  --input--disabled-color: var(--text-color--disabled);

  --popup--border-radius: 0.125em;
  --popup--title-bg: var(--secondary-bg);
  --popup--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
  --overlay--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);

  --panel--bg: var(--secondary-bg);
  --panel-title--active: rgba(0, 0, 0, 0.2);


  --menu--bg: #242424;
  --sub-menu--bg: #353535;
  --menu--shadow: none;

  --slider-handler--shadow: none;
  --slider-rail--box-shadow: var(--pressed);

  --switch-inner--bg: #3b3e40;
}
