.light-mode {
  --body-bg: #f0f2f5;

  --bg: #fff;
  --bg-disabled: #eceef3;
  --rail-color: #eceef3;

  --color: #000;
  --color-low-emphasis: #65676b;
  --color-disabled: #bcc0c4;

  --primary: #1877f2;
  --primary-hover: #1467d2;
  --primary-low-emphasis: #eaf1f9;

  --red: #c00;
  --red-hover: #b10303;
  --red-low-emphasis: #fdcfcf;

  --green: #57ec0a;
  --green-hover: #57ec0a;
  --green-low-emphasis: #d6f7c5;

  // BUTTON
  --btn-bg: #eceef3;
  --btn-hover-bg: #e4e6eb;
  --btn-hover-border-color: transparent;

  // SWITCH
  --switch-lever-color-disabled: #bdbdbd;

  // AVATAR
  --avatar-bg: #e4e6eb;

  // CHIP
  --chip-bg: #eceef3;
  --chip-hover-bg: #e4e6eb;
  --chip-close-bg: #d3d5d8;

  // POPOVER
  --popover-box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);

  // DIVIDER
  --divider-color: #dcdcdc;
}

.light-mode {
  background-color: var(--body-bg);
  color: #000;
}

.light-mode {

  --tab-title--active: rgba(0, 0, 0, 0.2);

  --input--bg: var(--secondary-bg);
  --input--disabled-bg: #4e4f50;
  --input--disabled-color: var(--text-color--disabled);

  --popup--border-radius: 0.125em;
  --popup--title-bg: var(--secondary-bg);
  --popup--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
  --overlay--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);


  --panel--bg: var(--secondary-bg);
  --panel-title--active: rgba(0, 0, 0, 0.2);


  --menu--bg: #242424;
  --sub-menu--bg: #353535;
  --menu--shadow: none;

  --avatar--bg: #2e3031;

  --slider-handler--shadow: none;
  --slider-rail--box-shadow: var(--pressed);

  --switch-inner--bg: #3b3e40;
}
