@import '../../../style/vars.scss';

.fui-table-tr {
  box-shadow: var(--fui-neu-flat--500);

  &:hover {
    box-shadow: none;
  }
}

.fui-table-tr.--header {
  box-shadow: var(--fui-neu-flat--500);
}
