.fchip {
  height: 2.275em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--secondary-bg);

  &:hover {
    background-color: var(--secondary-bg--7);
  }
}

.fchip-rounded {
  border-radius: 999px;
}

.fchip-avt {
  font-size: 0.57em;

  .favt-name {
    font-size: 1.75em;
  }
}

.fchip-child {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.125em;
}

.fchip-close {
  width: 1.35em;
  height: 1.35em;
  border-radius: 999px;
  // background-color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .ficon {
    stroke-width: 4;

    &:hover {
      transform: scale(1.1);
    }
  }
}
