.fchip {
  --chip-close-size: 18px;
  height: 2.275em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--btn-bg);

  &:hover {
    background-color: var(--btn-hover-bg);
  }
}

.fchip-avt {
  font-size: 0.57em;

  .favt-name {
    font-size: 1.75em;
  }
}

.fchip-child {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.125em;
}

.fchip-close {
  width: var(--chip-close-size);
  height: var(--chip-close-size);
  margin-right: 0.2em;
  border-radius: 999px;
  // background-color: rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;

  .ficon {
    stroke-width: 2;
  }
}

.fchip-rounded {
  border-radius: 999px;
}
