$skeleton-loading--0: rgba(0, 0, 0, 0.1);
$skeleton-loading--100: rgba(0, 0, 0, 0.2);

@keyframes skeleton-loading {
  0% {
    background-color: $skeleton-loading--0;
  }
  100% {
    background-color: $skeleton-loading--100;
  }
}

.fui-skeleton {
  background-color: $skeleton-loading--0;
  animation: skeleton-loading .8s linear infinite alternate;
}

.fui-skeleton--circle {
  height: 2.5em !important;
  width: 2.5em !important;
  border-radius: 100rem;
  margin-bottom: 0.5rem;
}

.fui-skeleton--rect,
.fui-skeleton--paragraph {
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 0.5rem;
}

.fui-skeleton--rect {
  height: 1.5em;
}

.fui-skeleton--paragraph {
  height: 1.5rem !important;
}
