@import '../../style/vars.scss';

@keyframes skeletonLoading {
  0% {
    background-color: var(--rc-color--200);
  }
  100% {
    background-color: var(--rc-color--300);
  }
}

.rc-skeleton {
  background-color: var(--rc-color--200);
  animation: skeletonLoading 1.5s infinite;
}

.rc-skeleton.--circle {
  height: 2.5em !important;
  width: 2.5em !important;
  border-radius: 100rem;
}

.rc-skeleton.--rect,
.rc-skeleton.--paragraph {
  width: 100%;
  border-radius: 0.5em;
}

.rc-skeleton.--rect {
  height: 1.5em;
}

.rc-skeleton.--paragraph {
  height: 1.5rem !important;
  margin-bottom: 0.5rem;
}
