@keyframes skeleton-loading {
  0% {
    background-color: var(--secondary-bg);
  }
  100% {
    background-color: var(--bg);
  }
}

.fskele {
  background-color: var(--secondary-bg);
}

.fskele-animated {
  animation: skeleton-loading 2s linear infinite alternate;
}

.fskele-circle {
  height: 2.5em !important;
  width: 2.5em !important;
  border-radius: 999px;
  margin-bottom: 0.5rem;
}

.fskele-rect,
.fskele-p {
  width: 100%;
  border-radius: 0.25em;
  margin-bottom: 0.5rem;
}

.fskele-rect {
  height: 1.5em;
}

.fskele-p {
  height: 1.5rem !important;
}
