@import '../../style/vars.scss';

$skeleton-loading--0: rgba(0, 0, 0, 0.1);
$skeleton-loading--100: rgba(0, 0, 0, 0.2);

@keyframes skeleton-loading {
  0% {
    background-color: $skeleton-loading--0;
  }
  100% {
    background-color: $skeleton-loading--100;
  }
}

.rc-skeleton {
  background-color: $skeleton-loading--0;
  animation: skeleton-loading .8s linear infinite alternate;
}

.rc-skeleton.--circle {
  height: 2.5em !important;
  width: 2.5em !important;
  border-radius: 100rem;
  margin-bottom: 0.5rem;
}

.rc-skeleton.--rect,
.rc-skeleton.--paragraph {
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 0.5rem;
}

.rc-skeleton.--rect {
  height: 1.5em;
}

.rc-skeleton.--paragraph {
  height: 1.5rem !important;
}
