.fbox {
  position: relative;
  width: 100%;
}

.fbox-loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.fbox-loading {
  .fbox-content {
    pointer-events: none;
    transition: opacity 0.3s;
    user-select: none;
  }
}

.fbox-loading.fbox-loading-dots {
  .fbox-content {
    filter: blur(3px);
    opacity: 0.3;
  }
}

.fbox-loading.fbox-loading-skeleton {
  .fbox-content {
    opacity: 0;
  }
}
