.rc-icon {
  display: inline-block;
  cursor: pointer;
  height: 1.35em;
  width: 1.35em;
  stroke-width: 1;
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
