.fui-calendar-date-cell {
  width: 3.2em;
  height: 3.2em;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  > .fui-button {
    transition: unset;
  }
}

.fui-calendar-date-cell--header > .fui-button {
  &,
  &:disabled {
    text-transform: uppercase;
    font-weight: 500;
    cursor: unset;
    user-select: none;
  }
}
