.fui-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1em 0.7em;
}

.fui-calendar-header-month {
  text-transform: uppercase;
  margin-right: 1em;
}

.fui-calendar-header-right {
  display: flex;

  > * {
    margin-left: 0.5em;
  }
}
