.rc-upload-button {
  position: relative;
}
.rc-upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  // display: none;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  // pointer-events: none;
}
