.ftimeline {
  width: 100%;
  display: flex;
  flex-direction: column;

  .ftimeline-item:last-child {
    .ftimeline-dot {
      &:after {
        display: none;
      }
    }
  }
}

.ftimeline-reverse {
  flex-direction: column-reverse; // lastest will go up

  .ftimeline-item:first-child {
    .ftimeline-dot {
      &:after {
        display: none;
      }
    }
  }

  .ftimeline-item:last-child {
    .ftimeline-dot {
      &:after {
        display: block;
      }
    }
  }
}

.ftimeline-item {
  display: flex;
  min-height: 5em;
  position: relative;
}

.ftimeline-dot {
  flex: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .ficon{
    background-color: var(--bg);
    border-radius: 100em;
    overflow: visible;
    font-size: 1.5em;
    z-index: 1;
    display: block;
  }

  &:after {
    flex: 1;
    content: "";
    width: 1px;
    background-color: var(--text-secondary);
    margin-left: 1em;
  }
}

.ftimeline-content {
  flex: 1;
  padding: 0 0.5em;
}

.ftimeline > .ftimeline-item {
  &:last-child {
    min-height: 0;

    .ftimeline-dot .ficon {
      color: var(--primary--400);
    }
  }
}


// RIGHT
.ftimeline-r {
  .ftimeline-item {
    flex-direction: row-reverse;
  }

  .ftimeline-content {
    display: flex;
    justify-content: flex-end;
  }
}

// ALTERNATE
.ftimeline-alternate {
  .ftimeline-item {
    &:before {
      flex: 1;
      content: "";
      padding: 0 0.5em;
    }
  }
  .ftimeline-item:nth-child(even) {
    flex-direction: row-reverse;
  }
}

//REVERSE
.ftimeline-reverse {
  flex-direction: column-reverse; // lastest will go up

  & > .ftimeline-item {
    &:nth-child(1) {
      min-height: 0;
    }
  }
}
