.ftimeline {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ftimeline-reverse {
  flex-direction: column-reverse; // lastest will go up
}

.ftimeline-item {
  display: flex;
  min-height: 5em;
  position: relative;
}

.ftimeline-dot {
  height: 2.5em;
  flex: 0;

  .ficon{
    background-color: var(--bg);
    border-radius: 100em;
    overflow: visible;
    font-size: 1.5em;
    z-index: 1;
  }
}

.ftimeline-content {
  flex: 1;
  padding: 0 0.5em;
}

.ftimeline-connector {
  position: absolute;
  width: 1px;
  height: calc(100% - 3em);
  left: 1em;
  top: 2.5em;
  box-sizing: border-box;
  border-left: 1px dashed var(--text-color);
}

.ftimeline > .ftimeline-item {
  &:last-child {
    min-height: 0;

    .ftimeline-dot .ficon {
      color: var(--primary--400);
    }

    .ftimeline-connector {
      display: none;
    }
  }
}


// RIGHT
.ftimeline-r {
  .ftimeline-item {
    flex-direction: row-reverse;
  }

  .ftimeline-content {
    display: flex;
    justify-content: flex-end;
  }

  .ftimeline-connector {
    left: unset;
    right: 1em;
  }
}

// ALTERNATE
.ftimeline-alternate {
  .ftimeline-item {
    &:before {
      flex: 1;
      content: "";
      padding: 0 0.5em;
    }

    .ftimeline-connector {
      left: 50%;
    }
  }
  .ftimeline-item:nth-child(even) {
    flex-direction: row-reverse;
  }
}

//REVERSE
.ftimeline-reverse {
  flex-direction: column-reverse; // lastest will go up

  & > .ftimeline-item {
    &:nth-child(1) {
      min-height: 0;

      .ftimeline-connector {
        display: none;
      }
    }
  
    &:last-child {
      .ftimeline-connector {
        display: block;
      }
    }
  }
}
