.frater {
  display: flex;
  align-items: center;
}

.frater-item {
  color: var(--color-low-emphasis);
  transition: color 0.25s;
  padding: 0.25em;
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
  }
}

.frater-item-light {
  color: #ffc107;

  .ficon > path:nth-child(2) {
    fill: currentColor;
  }
}
