.frater {
  align-items: center;
  display: flex;
}

.frater-item {
  color: var(--color-low-emphasis);
  cursor: pointer;
  padding: 0.25em;
  transition: color 0.25s;

  &:hover {
    transform: scale(1.15);
  }
}

.frater-item-light {
  color: #ffc107;

  .ficon > path:nth-child(2) {
    fill: currentColor;
  }
}
