@import '../../style/vars.scss';

@import '../../style/vars.scss';

.rc-divider {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 1rem 0;

  &:after,
  &:before {
    content: " ";
    border-bottom: 1px solid var(--rc-text-color);
  }

  &:before {
    flex-grow: 1;
  }
}

.rc-divider.--title {
  &:after,
  &:before {
    flex-grow: 1;
  }
}

.rc-divider.--transparent {
  &:after,
  &:before {
    border-color: transparent;
  }
}

.rc-divider-title {
  padding: 0 0.5em;
}

.rc-divider.--dashed {
  &:after,
  &:before {
    border-bottom-style: dashed;
  }
}

.rc-divider.--dotted {
  &:after,
  &:before {
    border-bottom-style: dotted;
  }
}

.rc-divider.--left {
  &:before {
    width: 1em;
    flex-grow: unset;
  }
}

.rc-divider.--right {
  &:after {
    width: 1em;
    flex-grow: unset;
  }
}
