@import '../../scss/vars.scss';
@import '../../scss/animation.scss';

.rc-divider {
  height: 0.0625em;
  width: 100%;
  background-color: red;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-divider {
    background-color: #595959;
  }
}
