.fpopover {
  color: var(--text-color);
  box-shadow: var(--popover-box-shadow);
  background-color: var(--bg);
}

.fpopover[data-placement^=top] > .tippy-arrow:before {
  border-top-color: var(--bg);
}

.fpopover[data-placement^=bottom] > .tippy-arrow:before {
  border-bottom-color: var(--bg);
}

.fpopover[data-placement^=left] > .tippy-arrow:before {
  border-left-color: var(--bg);
}

.fpopover[data-placement^=right] > .tippy-arrow:before {
  border-right-color: var(--bg);
}

.fpopover > .tippy-backdrop {
  background-color: var(--bg);
}

.fpopover > .tippy-svg-arrow {
  fill: var(--bg);
}
