@import '../../scss/vars.scss';

.rc-alert {
  animation: zoomIn 0.25s;
}

.rc-alert.--close-animation {
  animation: zoomOut 0.25s;
}


#root-alert {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  z-index: $zindex-alert;
}

#root-alert {
  .rc-alert {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    box-shadow: none;
    width: 35rem;
  }
}

// DARK MODE SUPPORT
.dark-mode .rc-alert {
  background-color: $dark-bg-color--300;

  .rc-pure-alert-close {
    background-color: $dark-bg-color--300;
    box-shadow: $neumorphism-darkmode-flat--300;

    &:focus {
      box-shadow: $neumorphism-darkmode-pressed--300;
    }
  }
}
