@import '../../style/vars.scss';

.rc-alert {
  animation: zoomIn 0.25s;
  background-color: rgba(0, 0, 0, 0.6);

  .rc-pure-alert-content {
    border-color: #fff;
    color: #fff;
  }

  .rc-pure-alert-close {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.rc-alert.--close-animation {
  animation: zoomOut 0.25s;
}


#root-alert {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  z-index: $zindex-alert;
}

#root-alert {
  .rc-alert {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    box-shadow: none;
    width: 35rem;
  }
}
