@import '../../style/vars.scss';

.rc-rater {
  display: flex;
  align-items: center;
}

.rc-rater-item {
  color: var(--rc-text-color);
  transition: color 0.25s;
  padding: 0.25em;

  &:hover {
    transform: scale(1.15);
  }
}

.rc-rater-item.--light {
  color: #ffc107;
}
