.fui-rater {
  display: flex;
  align-items: center;
}

.fui-rater-item {
  color: var(--text-color);
  transition: color 0.25s;
  padding: 0.25em;
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
  }
}

.fui-rater-item--light {
  color: #ffc107;

  .fui-icon > path:nth-child(2) {
    fill: currentColor;
  }
}
