.rc-panel {
  display: flex;
  flex-direction: column;
}

.rc-panel.--disabled {
  .rc-panel-title {
    cursor: not-allowed;
  }
}

.rc-panel.--active {
  .rc-panel-title {
    color: var(--primary--500);
  }

  .rc-panel-icon {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.rc-panel-title {
  position: relative;
  height: 3em;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  
  transition: color 0.25s;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--primary--500);
  }
}

.rc-panel-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1em;
}

.rc-panel-content {
  background-color: var(--bg);
  box-sizing: border-box;
  display: block;
}

.rc-panel-box {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
