.fui-panel {
  display: flex;
  flex-direction: column;
}

.fui-panel--disabled {
  .fui-panel-title {
    cursor: not-allowed !important;
    color: var(--disabled-text-color) !important;
  }
}

.fui-panel--active {
  .fui-panel-title {
    color: var(--primary--500);
  }

  .fui-panel-icon {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.fui-panel-title {
  position: relative;
  height: 3em;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  
  transition: color 0.25s;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--primary--500);
  }
}

.fui-panel-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1em;
}

.fui-panel-content {
  background-color: var(--bg);
  box-sizing: border-box;
  display: block;
}

.fui-panel-box {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
