.rc-panel {
  display: flex;
  flex-direction: column;
  background-color: var(--panel--bg);
}

.rc-panel.--disabled {
  .rc-panel-title {
    cursor: not-allowed;
  }
}

.rc-panel.--active {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .rc-panel-title {
    color: var(--primary--500);
  }

  .rc-panel-icon {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.rc-panel-title {
  position: relative;
  height: 4em;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--primary--500);
  }
}

.rc-panel-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1em;
}

.rc-panel-content {
  background-color: var(--bg);
  box-sizing: border-box;
  overflow: hidden;
  display: block;
}

.rc-panel-box {
  padding: 1em;
}
