.fpanel {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  transition: margin 0.25s;

  + .fpanel-active {
    margin-top: 1rem;
  }
}

.fpanel-disabled {
  .fui-panel-title {
    cursor: not-allowed !important;
  }
}

.fpanel-active {
  margin-bottom: 1rem;
  border-radius: var(--border-radius);

  .fpanel-icon {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.fpanel-title {
  position: relative;
  height: 3em;
  display: flex;
  align-items: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  
  transition: color 0.25s;
  cursor: pointer;
  user-select: none;
}

.fpanel-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1em;
  transition: transform 0.25s;
}

.fpanel-content {
  box-sizing: border-box;
  display: block;
}

.fpanel-box {
  padding: 0 0.75em;
}
