@import '../../style/vars.scss';

.rc-panel {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  box-shadow: var(--rc-neu-flat--500);
  background-color: var(--rc-color--500);
}

.rc-panel.--disabled {
  .rc-panel-title {
    cursor: not-allowed;
  }
}

.rc-panel.--active {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .rc-panel-icon {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.rc-panel-title {
  position: relative;
  height: 4em;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  user-select: none;
}

.rc-panel-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1em;
}

.rc-panel-content {
  display: block;
  transition: height 0.25s, opacity 0.25s;
  box-sizing: border-box;
  overflow: hidden;
}

.rc-panel-box {
  padding: 1em;
}
