.fui-modal-portal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fui-modal-portal--close-animation {
  background-color: transparent;
  animation: zoomOut 0.25s;
}

.fui-modal {
  position: absolute;
  animation: zoomIn 0.25s;
  box-shadow: none;
}
