.fui-number {
  -moz-appearance: textfield;
  background-color: var(--input--bg);
  border: none;
  border-radius: var(--border-radius);
  height: var(--input-height);
  outline: 0;
  padding: 0 var(--input-spacing);
  position: relative;
  width: 100%;

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
