@import '../../style/vars.scss';

.rc-anchor {
  display: flex;
  flex-direction: column;
  position: relative;
}

.rc-anchor-border-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.rc-anchor-border-left::before {
  position: relative;
  display: block;
  width: 2px;
  height: 100%;
  margin: 0 auto;
  background-color: #2f2f2f;
  content: ' ';
}
