@import '../../scss/vars.scss';

.rc-anchor-link {
  padding: 7px 0 7px 16px;
}

.rc-anchor-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.--active {
    color: $primary-color--500;
  }
}
