@import '../../style/vars.scss';

.rc-anchor-link {
  height: 2em;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border-left: 1px solid transparent;
}

.rc-anchor-link.--active {
  color: var(--rc-primary--500);
  border-left-color: var(--rc-primary--500);
}
