.fui-anchor-link {
  height: 2em;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border-left: 1px solid transparent;
}

.fui-anchor-link--active {
  color: var(--primary--500);
  border-left-color: var(--primary--500);
}
