.fbtn-grp {
  display: flex;

  > .fbtn {
    border-radius: 0;
  }

  > .fbtn:nth-child(1) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  > .fbtn:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.fbtn-grp-fluid {
  width: 100%;

  > .fbtn {
    flex-grow: 1;
  }
}
