@import '../../style/vars.scss';

.rc-drawer-container {
  &.--close-animation {
    background-color: transparent;
  }
  
}

.rc-drawer {
  position: absolute;
  height: 100vh;
  max-width: 100vw;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rc-drawer-container.--left {
  .rc-drawer {
    left: 0;
  }
}


.rc-drawer-container.--right {
  .rc-drawer {
    right: 0;
  }
}
