@import '../../scss/vars.scss';

.rc-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-drawer;
  background-color: $overlay-wrapper-bg-color;

  .rc-pure-drawer {
    position: absolute;
    right: 0;
    animation: slideInRight 0.5s;
    height: 100vh;
    max-width: 100vw;
    overflow: scroll;
  }
}

.rc-drawer.--close-animation {
  background-color: transparent;

  .rc-pure-drawer {
    animation: slideOutRight 0.5s;
  }
}
