@import './vars.scss';
@import './native-vars/index.scss';

html {
  font-size: 13px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  background-color: var(--rc-body-background-color);
  color: var(--rc-text-color);
}
