$black--900: #14181d;
$black--800: #171c22;
$black--700: #1b2027;
$black--600: #1e242c;
$black--500: #222831;
$black--400: #383d45;
$black--300: #4e525a;
$black--200: #64686e;
$black--100: #7a7e83;

$white--900: #8d8e93;
$white--800: #a5a5ab;
$white--700: #bcbdc4;
$white--600: #d4d5dc;
$white--500: #ecedf5;
$white--400: #fdfdfe;
$white--300: #ffffff;
$white--200: #ffffff;
$white--100: #ffffff;

$query-sm: 576px;
$query-md: 768px;
$query-lg: 992px;
$query-xl: 1200px;
$query-xxl: 1600px;
