body {
  --rc-blue--900: #{$blue--900};
  --rc-blue--800: #{$blue--800};
  --rc-blue--700: #{$blue--700};
  --rc-blue--600: #{$blue--600};
  --rc-blue--500: #{$blue--500};
  --rc-blue--400: #{$blue--400};
  --rc-blue--300: #{$blue--300};
  --rc-blue--200: #{$blue--200};
  --rc-blue--100: #{$blue--100};

  --rc-red--900: #{$red--900};
  --rc-red--800: #{$red--800};
  --rc-red--700: #{$red--700};
  --rc-red--600: #{$red--600};
  --rc-red--500: #{$red--500};
  --rc-red--400: #{$red--400};
  --rc-red--300: #{$red--300};
  --rc-red--200: #{$red--200};
  --rc-red--100: #{$red--100};

  --rc-green--900: #{$green--900};
  --rc-green--800: #{$green--800};
  --rc-green--700: #{$green--700};
  --rc-green--600: #{$green--600};
  --rc-green--500: #{$green--500};
  --rc-green--400: #{$green--400};
  --rc-green--300: #{$green--300};
  --rc-green--200: #{$green--200};
  --rc-green--100: #{$green--100};

  --rc-orange--900: #{$orange--900};
  --rc-orange--800: #{$orange--800};
  --rc-orange--700: #{$orange--700};
  --rc-orange--600: #{$orange--600};
  --rc-orange--500: #{$orange--500};
  --rc-orange--400: #{$orange--400};
  --rc-orange--300: #{$orange--300};
  --rc-orange--200: #{$orange--200};
  --rc-orange--100: #{$orange--100};

  --rc-black--900: #{$black--900};
  --rc-black--800: #{$black--800};
  --rc-black--700: #{$black--700};
  --rc-black--600: #{$black--600};
  --rc-black--500: #{$black--500};
  --rc-black--400: #{$black--400};
  --rc-black--300: #{$black--300};
  --rc-black--200: #{$black--200};
  --rc-black--100: #{$black--100};

  --rc-white--900: #{$white--900};
  --rc-white--800: #{$white--800};
  --rc-white--700: #{$white--700};
  --rc-white--600: #{$white--600};
  --rc-white--500: #{$white--500};
  --rc-white--400: #{$white--400};
  --rc-white--300: #{$white--300};
  --rc-white--200: #{$white--200};
  --rc-white--100: #{$white--100};
}
