@import '../vars.scss';

.dark-mode {
  --text-color: #e4e6eb;
  --body-bg: #090e12;
  --bg: #15202c;
  --disabled-text-color: #505965;

  --secondary-bg--700: #090e12;
  --secondary-bg--600: #111a24;
  --secondary-bg: #192735;
  --secondary-bg--400: #294158;
  --secondary-bg--300: #324d69;

  --primary--900: #2a1209;
  --primary--800: #552413;
  --primary--700: #80361d;
  --primary--600: #ab4827;
  --primary--500: #d65a31;
  --primary--400: #de7a5a;
  --primary--300: #e69c83;
  --primary--200: #eebdac;
  --primary--100: #f6ded5;

  // --primary--900: #001a33;
  // --primary--800: #003466;
  // --primary--700: #004e99;
  // --primary--600: #0068cc;
  // --primary--500: #0183ff;
  // --primary--400: #339bff;
  // --primary--300: #66b4ff;
  // --primary--200: #99cdff;
  // --primary--100: #cce6ff;

  --flat: 1px 1px 1px #090d12, -1px -1px 1px #233546;
  --pressed: inset 1px 1px 1px #090d12, inset -1px -1px 1px #233546;

  --secondary-flat: 1px 1px 1px #0a1015, -1px -1px 1px #283e55;
  --secondary-pressed: inset 1px 1px 1px #0a1015, inset -1px -1px 1px #283e55;
}

.dark-mode {
  background-color: var(--body-bg);
  color: var(--text-color);
}

/* BUTTON */
.dark-mode {
  --button-glassed-bg: rgba(0, 0, 0, 0.2);
  --button-bg: var(--secondary-bg--400);
  --button--hover-bg: rgba(29, 161, 242, 0.1);
  --button--hover-border-color: transparent;
  --button--disabled-bg: var(--secondary-bg--600);
  --button--disabled-color: var(--disabled-text-color);
}

/* Tabs */
.dark-mode {
  --tab-title--active: rgba(0, 0, 0, 0.2);
}

/* BASE INPUT */
.dark-mode {
  --input--bg: var(--secondary-bg);
  --input--disabled-bg: var(--secondary-bg--600);
  --input--disabled-color: var(--disabled-text-color);
}

/* Popup, Overlay */
.dark-mode {
  --popup--title-bg: var(--secondary-bg--400);
  --popup--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
  --overlay--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
}

/* Collapse */
.dark-mode {
  --panel--bg: var(--secondary-bg);
  --panel-title--active: rgba(0, 0, 0, 0.2);
}

/* Menu */
.dark-mode {
  --menu--bg: var(--secondary-bg);
  --sub-menu--bg: var(--secondary-bg--600);
  --menu--shadow:  none;
}

/* Avatar */
.dark-mode {
  --avatar--bg: var(--secondary-bg);
}

/* Slider */
.dark-mode {
  --slider-handler--shadow: none;
  --slider-rail--box-shadow: var(--pressed);
}

/* Switch */
.dark-mode {
  --switch-inner--bg: var(--secondary-bg--400);
}
