@import '../vars.scss';

.dark-mode {
  --text-color: #fff;
  --text-secondary: #c7c7c7;

  --text-color--heading: #fff;
  --text-color--disabled: #505965;
  --text-color--placeholder: #8f8d8d;

  --body-bg: #000;
  --bg: #181818;
  --secondary-bg: #303030;

  --primary: #ebb62c;
  --primary--bg: #ebb62c;
  --primary--disabled: #80724e;
  --primary--lighter: #f9b400;
  --primary--darker: #c59c30;

  --red: #c00;
  --red--bg: #c00;
  --red--disabled: #c94d4d;
  --red--lighter: #f30303;
  --red--darker: #850303;

  --green: #57ec0a;
  --green--bg: #57ec0a;
  --green--disabled: #72bd4c;
  --green--lighter: #55ff00;
  --green--darker: #349405;
}

.dark-mode {
  background-color: var(--body-bg);
  color: var(--text-color);
}

/* BUTTON */
.dark-mode {
  --button--bg: var(--secondary-bg);
  --button--hover-bg: rgba(106, 76, 12, 0.5);
  --button--hover-border-color: transparent;
  --button--disabled-bg: #2a2e35;
  --button--disabled-color: var(--text-color--disabled);
}

/* Tabs */
.dark-mode {
  --tab-title--active: rgba(0, 0, 0, 0.2);
}

/* BASE INPUT */
.dark-mode {
  --input--bg: var(--secondary-bg);
  --input--disabled-bg: #4e4f50;
  --input--disabled-color: var(--text-color--disabled);
}

/* Popup, Overlay */
.dark-mode {
  --popup--border-radius: 0.125em;
  --popup--title-bg: var(--secondary-bg);
  --popup--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
  --overlay--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
}

/* Collapse */
.dark-mode {
  --panel--bg: var(--secondary-bg);
  --panel-title--active: rgba(0, 0, 0, 0.2);
}

/* Menu */
.dark-mode {
  --menu--bg: #242424;
  --sub-menu--bg: #353535;
  --menu--shadow: none;
}

/* Avatar */
.dark-mode {
  --avatar--bg: #2e3031;
}

/* Slider */
.dark-mode {
  --slider-handler--shadow: none;
  --slider-rail--box-shadow: var(--pressed);
}

/* Switch */
.dark-mode {
  --switch-inner--bg: #3b3e40;
}
