@import '../vars.scss';

body {
  --text-color: #050505;
  --body-bg: #f0f2f5;
  --bg: #ffffff;

  --primary--900: #001d33;
  --primary--800: #003a66;
  --primary--700: #015899;
  --primary--600: #0175cc;
  --primary--500: #0293ff;
  --primary--400: #34a8ff;
  --primary--300: #67beff;
  --primary--200: #99d3ff;
  --primary--100: #cce9ff;

  --red--900: #290507;
  --red--800: #520a0e;
  --red--700: #7b0f15;
  --red--600: #a4141c;
  --red--500: #ce1a23;
  --red--400: #d7474e;
  --red--300: #e1757b;
  --red--200: #eba3a7;
  --red--100: #f5d1d3;

  --flat: #{$flat-light};
  --pressed: #{$pressed-light};
}

/* BUTTON */
body{
  --button--bg: #e4e6eb;
  --button--hover-bg: rgba(0, 0, 0, 0.05);
  --button--disabled-bg: #f0f2f5;
  --button--disabled-color: #d3d6dc;
}
