@import '../vars.scss';

.light-mode {
  --text-color: rgba(0, 0, 0, 0.9);
  --text-secondary: rgba(0, 0, 0, 0.6);

  --text-color--heading: #000;
  --text-color--disabled: #505965;
  --text-color--placeholder: #8f8d8d;

  --body-bg: #f3f2ef;
  --bg: #fff;

  --secondary-bg: #fff;
  --secondary-bg--1: #fff;
  --secondary-bg--3: #fff;
  --secondary-bg--5: #fff;
  --secondary-bg--7: #fff;
  --secondary-bg--9: #fff;

  --primary: #1877f2;
  --primary--1: #1877f2;
  --primary--3: #1877f2;
  --primary--5: #1877f2;
  --primary--7: #1877f2;
  --primary--9: #1877f2;

  --primary--bg: #1877f2;
  --primary--disabled: #1877f2;
  --primary--lighter: #1877f2;
  --primary--darker: #1877f2;

  --red: #c00;
  --red--bg: #c00;
  --red--disabled: #c94d4d;
  --red--lighter: #f30303;
  --red--darker: #850303;

  --green: #57ec0a;
  --green--bg: #57ec0a;
  --green--disabled: #72bd4c;
  --green--lighter: #55ff00;
  --green--darker: #349405;


  background-color: var(--body-bg);
  color: var(--text-color);

  --button--bg: #f2f2f2;
  --button--hover-bg: #f2f2f2;
  --button--hover-border-color: transparent;
  --button--disabled-bg: #f2f2f2;
  --button--disabled-color: var(--text-color--disabled);


  --tab-title--active: rgba(0, 0, 0, 0.2);

  --input--bg: var(--secondary-bg);
  --input--disabled-bg: #4e4f50;
  --input--disabled-color: var(--text-color--disabled);

  --popup--border-radius: 0.125em;
  --popup--title-bg: var(--secondary-bg);
  --popup--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
  --overlay--shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);


  --panel--bg: var(--secondary-bg);
  --panel-title--active: rgba(0, 0, 0, 0.2);


  --menu--bg: #242424;
  --sub-menu--bg: #353535;
  --menu--shadow: none;

  --avatar--bg: #2e3031;

  --slider-handler--shadow: none;
  --slider-rail--box-shadow: var(--pressed);

  --switch-inner--bg: #3b3e40;
}

.light-mode {
  background-color: var(--body-bg);
  color: var(--text-color);
}
