@import '../../style/vars.scss';

.rc-pure-notification {
  position: relative;
  min-width: 30em;
  border-radius: $border-radius;
  background-color: var(--rc-color--500);
  box-shadow: var(--rc-neu-flat--500);
}

.rc-pure-notification-title {
  padding: 0.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--rc-text-color);
}

.rc-pure-notification-content {
  padding: 1em;
  cursor: pointer;
}
