@import '../../scss/vars.scss';

.rc-timeline-item {
  display: flex;
  min-height: 5em;
  position: relative;
}

.rc-timeline-item-stone-icon.rc-timeline-item-stone-icon {
  background-color: $root-bg-color;
  border-radius: 100em;
  overflow: visible;
  z-index: 1;
}

.rc-timeline-item-content {
  flex-grow: 1;
  margin-left: 1em;
}

.rc-timeline-item-rail {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0.6em;
  top: 0.5em;
  background-color: $root-text-color;
}

.rc-timeline > .rc-timeline-item {
  &:last-child {
    min-height: 0;

    .rc-timeline-item-stone-icon {
      background-color: $primary-color;
      color: $root-text-inverted-color;
    }

    .rc-timeline-item-rail {
      display: none;
    }
  }
}


// RIGHT
.rc-timeline.--right {
  .rc-timeline-item {
    flex-direction: row-reverse;
  }

  .rc-timeline-item-content {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 1em;
  }

  .rc-timeline-item-rail {
    left: unset;
    right: 0.6em;
  }
}

//REVERSE
.rc-timeline.--reverse {
  flex-direction: column-reverse; // lastest will go up

  & > .rc-timeline-item {
    &:nth-child(1) {
      min-height: 0;

      .rc-timeline-item-rail {
        display: none;
      }
    }
  
    &:last-child {
      .rc-timeline-item-rail {
        display: block;
      }
    }
  }
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-timeline {
    .rc-timeline-item-stone-icon,
    &.--reverse > .rc-timeline-item:nth-child(1) .rc-timeline-item-stone-icon{
      background-color: $root-darkmode-bg-color;
    }
  }

  .rc-timeline-item-rail {
    background-color: $root-text-inverted-color;
  }
}
