.ftimeline-item {
  display: flex;
  min-height: 5em;
  position: relative;
}

.ftimeline-item-stone-icon {
  height: 2.5em;

  .ficon{
    background-color: var(--bg);
    border-radius: 100em;
    overflow: visible;
    font-size: 1.75em;
    z-index: 1;
  
    &:hover {
      transform: scale(1.1);
    }
  }
}

.ftimeline-item-content {
  flex-grow: 1;
  margin-left: 1em;
}

.ftimeline-item-rail {
  position: absolute;
  width: 1px;
  height: calc(100% - 3em);
  left: 1.15em;
  top: 2.75em;
  box-sizing: border-box;
  border-left: 1px dashed var(--text-color);
}

.ftimeline > .ftimeline-item {
  &:last-child {
    min-height: 0;

    .ftimeline-item-stone-icon .ficon {
      color: var(--primary--400);
    }

    .ftimeline-item-rail {
      display: none;
    }
  }
}


// RIGHT
.ftimeline-r {
  .ftimeline-item {
    flex-direction: row-reverse;
  }

  .ftimeline-item-content {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 1em;
  }

  .ftimeline-item-rail {
    left: unset;
    right: 1.15em;
  }
}

//REVERSE
.ftimeline-reverse {
  flex-direction: column-reverse; // lastest will go up

  & > .ftimeline-item {
    &:nth-child(1) {
      min-height: 0;

      .ftimeline-item-rail {
        display: none;
      }
    }
  
    &:last-child {
      .ftimeline-item-rail {
        display: block;
      }
    }
  }
}
