@import '../../style/vars.scss';

.rc-pure-alert {
  position: relative;
  min-width: 30rem;
  width: 100%;
  box-shadow: none;
  overflow: hidden;
}

.rc-pure-alert.--info {
  .rc-dialog-header {
    color: var(--blue--500);
  }
}

.rc-pure-alert.--success {
  .rc-dialog-header {
    color: var(--green--500);
  }
}

.rc-pure-alert.--warning {
  .rc-dialog-header {
    color: var(--orange--500);
  }
}

.rc-pure-alert.--error {
  .rc-dialog-header {
    color: var(--red--500);
  }
}
