@import '../../scss/vars.scss';

.rc-pure-alert {
  position: relative;
  min-width: 30rem;
  width: 100%;
  background-color: $root-bg-color;
  border-radius: $border-radius;
}

.rc-pure-alert.--info {
  .rc-pure-alert-title {
    color: $primary-color;
  }
}

.rc-pure-alert.--success {
  .rc-pure-alert-title {
    color: $success-color;
  }
}

.rc-pure-alert.--warning {
  .rc-pure-alert-title {
    color: $warning-color;
  }
}

.rc-pure-alert.--error {
  .rc-pure-alert-title {
    color: $error-color;
  }
}

.rc-pure-alert-title {
  padding: 1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.rc-pure-alert-content {
  padding: 1.5em 1em;
  overflow: scroll;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-pure-alert {
    background-color: $dark-bg-color--300;
  }

  .rc-pure-alert-close {
    background-color: $dark-bg-color--300;
    box-shadow: $neumorphism-darkmode-flat--300;

    &:focus {
      box-shadow: $neumorphism-darkmode-pressed--300;
    }
  }  

  .rc-pure-alert-content {
    border-top: 1px dashed $dark-bg-color--400;
  }
}
