@import '../../scss/vars.scss';

.rc-carousel {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.rc-carousel-box {
  display: flex;
  flex-wrap: nowrap;
  transition: width 0.5s;
  position: absolute;
}

.rc-carousel-prev.rc-carousel-prev,
.rc-carousel-next.rc-carousel-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
  color: rgb(228, 230, 235);

  &:hover {
    box-shadow: none;
    background-color: $primary-color--500;
  }
}

.rc-carousel-prev.--hidden,
.rc-carousel-next.--hidden {
  visibility: hidden;
}

.rc-carousel-prev {
  left: 0;
  transform: translate(50%, -50%);
}

.rc-carousel-next {
  left: 100%;
  transform: translate(-150%, -50%);
}

// DARK MODE SUPPORT
.dark-mode {
  // anti .darkmode .rc-button
  .rc-carousel-prev.rc-carousel-prev,
  .rc-carousel-next.rc-carousel-next {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    color: rgb(228, 230, 235);

    &:hover {
      box-shadow: none;
      background-color:  $primary-color--500;
    }
  }
}
