@import './Item.scss';
@import './Dots.scss';

.fui-carousel {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.fui-carousel-container {
  position: relative;
  width: 100%;
}

.fui-carousel-box {
  display: flex;
  flex-wrap: nowrap;
  transition: left 0.25s, right 0.25s;
  position: absolute;
}
.fui-carousel-handler {
  display: flex;
  width: 100%;
  padding: 0.25rem;
  align-items: center;
  justify-content: flex-end;
}
