@import './Item.scss';

.rc-carousel {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.rc-carousel-box {
  display: flex;
  flex-wrap: nowrap;
  transition: left 0.25s, right 0.25s;
  position: absolute;
}

.rc-carousel-prev.rc-carousel-prev,
.rc-carousel-next.rc-carousel-next {
  position: absolute;
  top: 50%;
  z-index: 2;
}

.rc-carousel-prev.--hidden,
.rc-carousel-next.--hidden {
  visibility: hidden;
}

.rc-carousel-prev {
  left: 0;
  transform: translate(50%, -50%);
}

.rc-carousel-next {
  left: 100%;
  transform: translate(-150%, -50%);
}
