@import './Header.scss';
@import './Grid.scss';
@import './DateCell.scss';

.fui-calendar {
  background-color: var(--btn-bg);
  border-radius: 0.75em;
  box-shadow: var(--popup--shadow);
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  position: relative;
}
