@import '../../style/vars.scss';

.fnumber {
  position: relative;
  width: 100%;
}

.fnumber-input {
  -moz-appearance:textfield;
  padding-right: 3em;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
