.rc-input {
  height: var(--input-height);
  outline: 0 !important;
  border: 0;
  width: 100%;
  border-radius: var(--border-radius);
  padding: 0 var(--input-spacing);
  background-color: var(--input--bg);
  transition: box-shadow 0.25s, border-color 0.25s;
  border: 1px solid transparent;

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    border-color: transparent;
    background-color: var(--input--disabled-bg);
    color: var(--input--disabled-color);
  }

  &:hover,
  &:focus {
    border-color: var(--primary--500);
  }
}

.rc-input.--rounded {
  border-radius: 100em;
}
