@import '../../style/vars.scss';

$input--background-color: var(--rc-background-color);
$input--box-shadow: var(--rc-flat);
$input--active--box-shadow: 1px 1px 1px var(--rc-primary--500), -1px -1px 1px var(--rc-primary--500);

.rc-input {
  height: $input-height;
  outline: 0 !important;
  border: 0;
  width: 100%;
  border-radius: $border-radius;
  padding: 0 $input-spacing;
  box-shadow: $input--box-shadow;
  background-color: $input--background-color;
  transition: box-shadow 0.25s, border-color 0.25s;
  border: 1px solid transparent;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    border-color: var(--rc-primary--500);
  }
}

.rc-input.--rounded {
  border-radius: 100em;
}
