@import '../../scss/vars.scss';

.rc-checkbox {
  display: block;
  position: relative;
  box-sizing: border-box;
  outline: 0 !important;
  width: 1.85em;
  height: 1.85em;
  cursor: pointer;
}

.rc-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;

  &:checked {
    + .rc-checkbox-inner {
      box-shadow:var(--rc-neu-pressed--500);
    }

    + * + .rc-checkbox-check {
      color: $primary-color--500;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.rc-checkbox-inner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.25s;
  border-radius: $border-radius;
  box-shadow: var(--rc-neu-flat--500);
  background-color: var(--rc-color--500);
}

.rc-checkbox-check {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--rc-color--500);
  transform: translate(-50%, -50%);
  transition: all 0.25s;
}
