.fmodal-portal {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fmodal-portal-close-animation {
  animation: zoomOut 0.25s;
  background-color: transparent;
}

.fmodal {
  animation: zoomIn 0.25s;
  box-shadow: none;
  position: absolute;
}
