.fui-button-group {
  display: flex;

  > .fui-button {
    border-radius: 0;
  }

  > .fui-button:not(:last-child) {
    margin-right: 1px;
  }

  > .fui-button:nth-child(1) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  > .fui-button:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.fui-button-group--fluid {
  width: 100%;

  > .fui-button {
    flex-grow: 1;
  }
}
