@import '../../vars.scss';

.flex-1 {
  flex: 1 1 0;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

@media (min-width: $query-sm) {
  .sm\:flex-1 {
    flex: 1 1 0%;
  }

  .sm\:flex-auto {
    flex: 1 1 auto;
  }

  .sm\:flex-initial {
    flex: 0 1 auto;
  }

  .sm\:flex-none {
    flex: none;
  }

  .sm\:flex-grow {
    flex-grow: 1;
  }

  .sm\:flex-shrink {
    flex-shrink: 1;
  }

  .sm\:flex-no-grow {
    flex-grow: 0;
  }

  .sm\:flex-no-shrink {
    flex-shrink: 0;
  }
}

@media (min-width: $query-md) {
  .md\:flex-1 {
    flex: 1 1 0%;
  }

  .md\:flex-auto {
    flex: 1 1 auto;
  }

  .md\:flex-initial {
    flex: 0 1 auto;
  }

  .md\:flex-none {
    flex: none;
  }

  .md\:flex-grow {
    flex-grow: 1;
  }

  .md\:flex-shrink {
    flex-shrink: 1;
  }

  .md\:flex-no-grow {
    flex-grow: 0;
  }

  .md\:flex-no-shrink {
    flex-shrink: 0;
  }
}

@media (min-width: $query-lg) {
  .lg\:flex-1 {
    flex: 1 1 0%;
  }

  .lg\:flex-auto {
    flex: 1 1 auto;
  }

  .lg\:flex-initial {
    flex: 0 1 auto;
  }

  .lg\:flex-none {
    flex: none;
  }

  .lg\:flex-grow {
    flex-grow: 1;
  }

  .lg\:flex-shrink {
    flex-shrink: 1;
  }

  .lg\:flex-no-grow {
    flex-grow: 0;
  }

  .lg\:flex-no-shrink {
    flex-shrink: 0;
  }
}

@media (min-width: $query-xl) {
  .xl\:flex-1 {
    flex: 1 1 0%;
  }

  .xl\:flex-auto {
    flex: 1 1 auto;
  }

  .xl\:flex-initial {
    flex: 0 1 auto;
  }

  .xl\:flex-none {
    flex: none;
  }

  .xl\:flex-grow {
    flex-grow: 1;
  }

  .xl\:flex-shrink {
    flex-shrink: 1;
  }

  .xl\:flex-no-grow {
    flex-grow: 0;
  }

  .xl\:flex-no-shrink {
    flex-shrink: 0;
  }
}
