@import '../../style/vars.scss';

$pure-drawer--background-color: var(--rc-color--500);
$pure-drawer-title--background-color: var(--rc-color--600);

.rc-pure-drawer {
  position: relative;
  min-width: 30em;
  background-color: $pure-drawer--background-color;
  border-radius: $border-radius;
}

.rc-pure-drawer-title {
  padding: 0 1em;
  height: 3.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: $pure-drawer-title--background-color;
}

.rc-pure-drawer-content {
  padding: 1.5em 1em;
}
