@import '../../scss/vars.scss';

.rc-pure-drawer {
  position: relative;
  min-width: 30em;
  background-color: $root-bg-color;
  border-radius: $border-radius;
}

.rc-pure-drawer-title {
  padding: 1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.rc-pure-drawer-content {
  padding: 1.5em 1em;
  overflow: scroll;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-pure-drawer {
    background-color: $dark-bg-color--500;
  }

  .rc-pure-drawer-title {
    border-bottom: 1px dashed $dark-bg-color--300;
  }
}
