@import '../../scss/vars.scss';

.rc-pure-drawer {
  position: relative;
  min-width: 30em;
  background-color: var(--rc-color--500);
  border-radius: $border-radius;
}

.rc-pure-drawer-title {
  padding: 1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--rc-text-color);
}

.rc-pure-drawer-content {
  padding: 1.5em 1em;
  overflow: scroll;
}
