.rc-chip {
  height: var(--basic-height);
  padding-left: 0.35em;
  padding-right: 0.35em;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--secondary-bg);
  box-shadow: var(--secondary-flat);

  .rc-avatar {
    height: 1.65em;
    width: 1.65em;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.rc-chip.--rounded {
  border-radius: 100em;
}

.rc-chip.--custom {
  box-shadow: none;

  &:hover {
    opacity: 0.8;
  }
}

.rc-chip-label {
  padding-left: 0.65em;
  padding-right: 0.65em;
}

.rc-chip-close {
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100em;
}
