@import '../../style/vars.scss';

.rc-chip {
  height: 2.125em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  display: flex;
  align-items: center;
  border-radius: 100em;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--rc-color--200);

  &:hover {
    background-color: var(--rc-color--300);
  }

  // anti dark-mode
  .rc-avatar.rc-avatar {
    height: 1.65em;
    width: 1.65em;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.rc-chip.--custom {
  &:hover {
    opacity: 0.8;
  }
}

.rc-chip-label {
  padding-left: 0.65em;
  padding-right: 0.65em;
}

.rc-chip-close {
  height: 1.65em;
  width: 1.65em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100em;
}
