.fui-chip {
  height: 2.275em;
  padding-left: 0.35em;
  padding-right: 0.35em;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--secondary-bg);
}

.fui-chip--rounded {
  border-radius: 100em;
}

.fui-chip--custom {
  &:hover {
    opacity: 0.8;
  }
}

.fui-chip-label {
  padding-left: 0.65em;
  padding-right: 0.65em;
}

.fui-chip-close {
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100em;
}
