.fdiv {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin: 1rem 0;
  position: relative;
  width: 100%;

  &::after,
  &::before {
    border-bottom: 1px solid currentColor;
    content: ' ';
  }

  &::before {
    flex-grow: 1;
  }
}

.fdiv-title {
  &::after,
  &::before {
    flex-grow: 1;
  }
}

.fdiv-transparent {
  &::after,
  &::before {
    border-color: transparent;
  }
}

.fdiv-title {
  padding: 0 0.5em;
}

.fdiv-dashed {
  &::after,
  &::before {
    border-bottom-style: dashed;
  }
}

.fdiv-dotted {
  &::after,
  &::before {
    border-bottom-style: dotted;
  }
}

.fdiv-l {
  &::before {
    flex-grow: unset;
    width: 1em;
  }
}

.fdiv-r {
  &::after {
    flex-grow: unset;
    width: 1em;
  }
}
