.fdiv {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 1rem 0;

  &:after,
  &:before {
    content: " ";
    border-bottom: 1px solid currentColor;
  }

  &:before {
    flex-grow: 1;
  }
}

.fdiv-title {
  &:after,
  &:before {
    flex-grow: 1;
  }
}

.fdiv-transparent {
  &:after,
  &:before {
    border-color: transparent;
  }
}

.fdiv-title {
  padding: 0 0.5em;
}

.fdiv-dashed {
  &:after,
  &:before {
    border-bottom-style: dashed;
  }
}

.fdiv-dotted {
  &:after,
  &:before {
    border-bottom-style: dotted;
  }
}

.fdiv-l {
  &:before {
    width: 1em;
    flex-grow: unset;
  }
}

.fdiv-r {
  &:after {
    width: 1em;
    flex-grow: unset;
  }
}
