.fnotify {
  animation: zoomIn 0.25s;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.fnotify-close-animation {
  animation: zoomOut 0.25s;
}

#root-notification {
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  left: 0;
  position: fixed;
  z-index: var(--zindex-notification);
}

#root-notification {
  .fnotify {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    width: 35rem;
  }
}
