.fui-avatar {
  height: 3.5em;
  width: 3.5em;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg);
}

.fui-avatar--square {
  border-radius: var(--border-radius);
}

.fui-avatar--circle {
  border-radius: 100em;
}
