.favt {
  height: 3.4em;
  width: 3.4em;
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--avatar--bg);
}

.favt-square {
  border-radius: var(--border-radius);
}

.favt-circle {
  border-radius: 999px;
}
