.fdroplet {
  align-items: center;
  background-color: var(--primary--600);
  border-radius: 100rem;
  color: #fff;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  position: relative;
  width: 2.5rem;

  &::before {
    background-color: inherit;
    border-radius: 50% 50% 50% 0;
    content: ' ';
    height: 100%;
    position: absolute;
    transform: rotate(-45deg);
    width: 100%;
  }
}

.fdroplet > span {
  z-index: 1;
}
