@import '../../scss/vars.scss';

.rc-tooltip {
  background-color: $overlay-bg-color;
  background: $gradient-overlay-bg-color;
  color: #fff;
  min-width: 5em;
  max-width: 20em;
  min-height: 2.5em;
  padding: 0.5em $content-spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
}
