.rc-tooltip {
  min-width: 5em;
  max-width: 20em;
  min-height: 2.5em;
  padding: 0.5em var(--content-spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--overlay--shadow);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;

  &.--arrow:after{
    border-color: rgba(0, 0, 0, 0.6);
  }
}
