@import '../../style/vars.scss';

.rc-tooltip {
  min-width: 5em;
  max-width: 20em;
  min-height: 2.5em;
  padding: 0.5em $content-spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  background-color: $primary-color--600;
  color: #fff;

  &:after {
    border-color: $primary-color--600;
  }
}
