@import '../../style/vars.scss';

.rc-tooltip {
  min-width: 5em;
  max-width: 20em;
  min-height: 2.5em;
  padding: 0.5em $content-spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $dark--600, $alpha: 0.8);
  color: $dark-text-color;

  &.--arrow:after{
    border-color: rgba($color: $dark--600, $alpha: 0.8);
  }
}
