@import '../../style/vars.scss';

.fconfirm-portal {
  align-items: center;
  display: flex;
  justify-content: center;

  .fconfirm {
    animation: zoomIn 0.25s;
    box-shadow: none;
    position: absolute;
    top: 15%;
  }
}

.fconfirm-portal-close-animation {
  animation: zoomOut 0.25s;
  background-color: transparent;
}
