@import '../../style/vars.scss';

.fconfirm-portal {
  display: flex;
  align-items: center;
  justify-content: center;

  .fconfirm {
    position: absolute;
    top: 15%;
    animation: zoomIn 0.25s;
    box-shadow: none;
  }
}

.fconfirm-portal-close-animation {
  background-color: transparent;
  animation: zoomOut 0.25s;
}
