$step-avatar--size: 2.5em;

.fstep {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fstep-rail {
  position: absolute;
  top: $step-avatar--size / 2;
  left: -50%;
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed currentColor;
}

.fstep-avt {
  position: relative;
  height: $step-avatar--size;
  width: $step-avatar--size;
  border-radius: 100em;
  background-color: var(--secondary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.fstep-loader {
  position: absolute;
}

.fstep-content {
  margin-top: 0.75em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fstep-title {
  font-weight: 600;
}

.fstep-description {
  display: none;
}

// COMPLETED
.fstep-completed {
  .fstep-rail {
    color: var(--primary);
  }

  .fstep-avt {
    background-color: var(--primary);
    color: rgb(228, 230, 235);
    box-shadow: none;
    border: none;
  }

  .fstep-title {
    color: var(--primary);
  }

  .fstep-description {
    display: none;
  }
}

// PROCESSING
.fstep-processing {
  .fstep-rail {
    color: var(--primary);
  }

  .fstep-avt {
    color: var(--primary);
    box-shadow: none;
  }

  .fstep-description {
    display: block;
  }
}

// CANCELED
.fstep-canceled {
  .fstep-rail {
    color: var(--red--500);
  }

  .fstep-avt {
    background-color: var(--red--500);
    color: #fff;
    box-shadow: none;
    border: none;
  }

  .fstep-title {
    color: var(--red--500);
  }

  .fstep-description {
    display: none;
  }
}

.fstepper > .fstep:nth-child(1) .fstep-rail {
  display: none;
}

// VERTICAL SUPPORT
.fstepper-v {
  > .fstep:nth-child(1) {
    min-height: 0;
  }

  .fstep-rail {
    border-bottom: none;
    border-left: 1px dashed var(--text-color);
  }

  .fstep {
    flex-direction: row;
    min-height: 8em;
    align-items: flex-start;

    &.fstep-processing,
    &.fstep-completed {
      + .fstep {
        .fstep-rail {
          color: var(--primary);
          border-left: 1px dashed currentColor;
        }
      }
    }

    &.fstep-canceled {
      + .fstep {
        .fstep-rail {
          color: var(--red--500);
          border-left: 1px dashed currentColor;
        }
      }
    }
  }

  .fstep-rail {
    background-color: transparent;
    background: transparent;
    height: 100%;
    width: 1px;
    left: $step-avatar--size / 2;
    top: calc(0 + 1.75em);
  }

  .fstep-content {
    flex-grow: 1;
    align-items: flex-start;
    margin-left: 0.75em;
    margin-top: 0;
  }

  .fstep-title {
    margin-top: 0.5em;
  }
}
