@import './vars.scss';
@import './animation/index.scss';
@import './utils.scss';


html {
  font-size: 13px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  background-color: $root-bg-color;
  color: $root-text-color;
}

body.dark-mode {
  background-color: $body-dark-bg-color;
  color: $root-darkmode-text-color;
}

.overflow-hidden {
  overflow: hidden !important;
}