@import './vars.scss';

.neumorphism {
  box-shadow: $neumorphism;
}

.dark-mode {
  .neumorphism {
    box-shadow: $neumorphism-darkmode;
  }
}

.neumorphism-darmode {
  box-shadow: $neumorphism-darkmode;
}

html {
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  background-color: $root-bg-color;
  color: $primary-color;;
}

body.dark-mode {
  background-color: $root-darkmode-bg-color;
  color: #fff;
}
