@import './vars.scss';

.neumorphism {
  box-shadow: $neumorphism-flat;
}

.dark-mode {
  .neumorphism {
    box-shadow: $neumorphism-darkmode-flat;
  }
}

.neumorphism-darmode {
  box-shadow: $neumorphism-darkmode-flat;
}
