/**
* Spacing
*/
$basic-height: 2.5em;
$border-radius: 0.5em;
$border-radius-medium: 1em;
$content-spacing: 1.5em;

// Z_INDEX
$zindex-notification: 1000;
$zindex-alert: 1000;
$zindex-modal: 1000;
$zindex-confirm: 1000;
$zindex-drawer: 1000;
$zindex-dropdown: 1050;
$zindex-overlay: 1010;

/**
* Root color
*/

$dark-bg-color--500: #1a1b1d;
$dark-bg-color--400: #2c2d31;

$body-dark-bg-color: #17181a;

$root-bg-color: #f0f2f5;
$root-darkmode-bg-color: #1a1b1d;
$root-text-color: #2f2f2f;
$root-text-inverted-color: rgb(228, 230, 235);
$root-darkmode-text-color: rgb(228, 230, 235);
$placeholder-text-color: #a0aebf;

$secondary-bg-color: #a1a5ab;
$secondary-darkmode-bg-color: #2f2f2f;

/**
* Chip
*/

/**
* Status color
*/
$primary-color: #0099ff;
$success-color: #32e232;
$warning-color: #f7aa37;
$error-color: #ec4c1d;

$gradient-primary-color: linear-gradient(145deg, #008ae6, #00a4ff);
$gradient-success-color: linear-gradient(145deg, #2dcb2d, #36f236);
$gradient-warning-color: linear-gradient(145deg, #de9932, #ffb63b);
$gradient-error-color: linear-gradient(145deg, #d4441a, #fd511f);

/**
* Overlay background-color
*/
$overlay-bg-color: #0099ff; // Tooltip | Confirm | Alert
$gradient-overlay-bg-color: linear-gradient(145deg, #008ae6, #00a4ff);
$select-option-bg-color: #0099ff;
$overlay-wrapper-bg-color: rgba(0, 0, 0, 0.5);

/**
* MENU
*/

$menu-item-bg-color: #0099ff;

/**
* Rating color
*/
$rating-color: #e4e4e4;
$rating-darkmode-color: rgba(255, 255, 255, 0.2);
$rating-active-color: #ffc107;

/**
* Progress circle stoke color
*/
$progress-circle-stroke-color: #0099ff;


/**
* Active background color
*/
$active-color-1: #0099ff; // Pagination | Switch | Checkbox | Radio
$active-bg-color-neumorphism: linear-gradient(145deg, #008ae6, #00a4ff); // Switch | Checkbox | Radio

/**
* Neumorphism support
*/

$neumorphism-light-from-color: #d6d7da;
$neumorphism-light-to-color: #ffffff;
$neumorphism-dark-from-color: #0e0f10;
$neumorphism-dark-to-color: #26272a;
// FLAT
$neumorphism-flat: 1.5px 1.5px 1.5px $neumorphism-light-from-color, -1px -1px 1px $neumorphism-light-to-color;
$neumorphism-primary-flat: 1.5px 1.5px 1.5px #0084db, -1px -1px 1px #00aeff;
$neumorphism-darkmode-flat: 1.5px 1.5px 1.5px $neumorphism-dark-from-color, -1px -1px 1px $neumorphism-dark-to-color;

// PRESSED
$neumorphism-pressed: inset 2px 2px 1px #d6d7da, inset -2px -2px 1px #ffffff;
$neumorphism-darkmode-pressed: inset 2px 2px 1px $neumorphism-dark-from-color, inset -2px -2px 1px $neumorphism-dark-to-color;
$neumorphism-primary-pressed: inset 1.5px 1.5px 1.5px #0084db, inset -1px -1px 1px #00aeff;

