/**
* Spacing
*/
$basic-height: 2.5em;
$border-radius: 0.5em;
$border-radius-medium: 1em;

/**
* Root color
*/
$root-bg-color: #f3f3f3;
$root-darkmode-bg-color: #595959;
$root-text-color: #2f2f2f;
$placeholder-text-color: #a0aebf;


/**
* Status color
*/
$success-color: #32e232;
$warning-color: #f7aa37;
$error-color: #ec4c1d;

/**
* Overlay background-color
*/
$overlay-bg-color: #0099ff; // Tooltip | Confirm | Alert
$select-option-bg-color: #0099ff;
$overlay-wrapper-bg-color: rgba(0, 0, 0, 0.5);

/**
* Rating color
*/
$rating-color: #e4e4e4;
$rating-darkmode-color: rgba(255, 255, 255, 0.2);
$rating-active-color: #ffc107;

/**
* Progress circle stoke color
*/
$progress-circle-stroke-color: #0099ff;


/**
* Active background color
*/
$active-color-1: #0099ff; // Pagination | Switch | Checkbox | Radio
$active-bg-color-neumorphism: linear-gradient(145deg, #008ae6, #00a4ff); // Switch | Checkbox | Radio

/**
* Neumorphism support
*/
$neumorphism: 1.5px 1.5px 1.5px #e4e4e4, -1px -1px 1px #ffffff;
$neumorphism-darkmode: 1.5px 1.5px 1.5px #494949, -1px -1px 1px #696969;
$neumorphism-inset: inset 2px 2px 1px #e7e7e7, inset -2px -2px 1px #ffffff;
$neumorphism-darkmode-inset: inset 2px 2px 1px #515151, inset -2px -2px 1px #5d5d5d;

