.rc-image {
  display: block;
  position: relative;
  overflow: hidden;
}

.rc-image-blur {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  filter: blur(20px);
  overflow: hidden;
  transform: scale(1.2);
}

.rc-image-skeleton {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

img.rc-image-native.--main {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 2;
  position: absolute;
}

img.rc-image-native.--main.--loaded {
  opacity: 1;
}

img.rc-image-native.--cover {
  object-fit: cover;
}

img.rc-image-native.--contain {
  object-fit: contain;
}

img.rc-image-native.--fill {
  object-fit: fill;
}

img.rc-image-native.--scale-down {
  object-fit: scale-down;
}

img.rc-image-native.--none {
  object-fit: none;
}

img.rc-image-native.--blur {
  object-fit: contain;
}