.light-mode {
  --body-bg: #f4f8f9;
  --bg: #fff;
  --bg-disabled: #eceef3;
  --color: #333;
  --color-disabled: #bcc0c4;
  --color-low-emphasis: #65676b;

  --danger: var(--red-6);
  --danger-hover: var(--red-5);
  --danger-disabled: var(--red-2);

  --primary: var(--blue-6);
  --primary-hover: var(--blue-5);
  --primary-disabled: var(--blue-2);

  // BUTTON
  --btn-bg: #eceef3;
  --btn-bg-hover: #e4e6eb;

  // SWITCH
  --switch-lever-color-disabled: #bdbdbd;

  // AVATAR
  --avatar-bg: #e4e6eb;

  // CHIP
  --chip-bg: #eceef3;
  --chip-hover-bg: #e4e6eb;
  --chip-close-bg: #d3d5d8;

  // POPOVER
  --popover-box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);

  // DIVIDER
  --divider-color: #dcdcdc;

  // SKELETON
  --skeleton-color: #ced4da;
  --skeleton-animation-bg-1: rgba(255, 255, 255, 0);
  --skeleton-animation-bg-2: rgba(255, 255, 255, 0.35);
  --skeleton-animation-bg-3: rgba(255, 255, 255, 0);
}

.light-mode {
  background-color: var(--body-bg);
  color: #000;
}

.light-mode {

  --tab-title--active: rgba(0, 0, 0, 0.2);

  --input--bg: var(--secondary-bg);
  --input--disabled-bg: #4e4f50;
  --input--disabled-color: var(--text-color--disabled);

  --popup--border-radius: 0.125em;
  --popup--title-bg: var(--secondary-bg);
  --popup--shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);
  --overlay--shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);

  --panel--bg: var(--secondary-bg);
  --panel-title--active: rgba(0, 0, 0, 0.2);


  --menu--bg: #242424;
  --sub-menu--bg: #353535;
  --menu--shadow: none;

  --avatar--bg: #2e3031;

  --slider-handler--shadow: none;
  --slider-rail--box-shadow: var(--pressed);

  --switch-inner--bg: #3b3e40;
}
