.falert {
  animation: zoomIn 0.25s;
  background-color: rgba(0, 0, 0, 0.9);
}

.falert-close-animation {
  animation: zoomOut 0.25s;
}


#root-alert {
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 0;
  z-index: var(--zindex-alert);
}

#root-alert {
  .falert {
    box-shadow: none;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    width: 35rem;
  }
}
