@import '../../style/vars.scss';

// anti --icon-only
.fmenu-item-grp-hidden.fmenu-item-grp-hidden {
  display: none;
}

.fmenu-item-grp-icon-only {
  .fmenu-item-grp-title {
    display: none;
  }
}

.fmenu-item-grp-title {
  align-items: center;
  display: flex;
  height: 3em;
  text-transform: uppercase;
  width: 100%;

  > span {
    padding-left: 1em;
    padding-right: 0.5em;
  }
}
