@import './Item.scss';
@import './ItemGroup.scss';
@import './Sub.scss';

.fmenu-wrapper {
  position: relative;
}

.fmenu {
  background-color: var(--menu--bg);
  border-radius: var(--border-radius);
  box-shadow: var(--menu--shadow);
  min-width: 12em;
  overflow: hidden;
  user-select: none;
}

.fmenu-icon-only {
  min-width: unset;
}
