.fmenu-sub-expanded {
  .fmenu-sub-icon {
    transform: rotate(180deg);
  }
}

// anti --icon-only
.fmenu-sub-hidden.fmenu-sub-hidden {
  display: none;
}

.fmenu-sub-icon-only {
  .fmenu-sub-title {
    justify-content: center;
  }

  .fmenu-sub-title-icon .ficon {
    margin-right: 0;
  }

  .fmenu-sub-icon,
  .fmenu-sub-content {
    display: none;
  }
}

.fmenu-sub-title {
  padding: 0 var(--content-spacing);
  height: 3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menu--bg);

  &:hover {
    color: var(--primary);
  }
}

.fmenu-sub-title-icon .ficon {
  margin-right: 1rem;
}

.fmenu-sub-list {
  background-color: var(--sub-menu--bg);
}
