@import '../../style/vars.scss';

.rc-slider-handler {
  height: 1.25em;
  width: 1.25em;
  border-radius: 100rem;
  background-color: #ffffff;
  position: absolute;
  right: -0.625em;
  top: -0.5em;
  cursor: pointer;
}

.rc-slider-handler-droplet {
  position: absolute;
  top: -3.5em;
  right: -0.65em;
  transition: opacity 0.25s;
  opacity: 0;
}

.rc-slider-handler.--droplet {
  .rc-slider-handler-droplet {
    opacity: 1;
  }
}
