@import './SingleSlider.scss';

.fui-slider {
  position: relative;
  width: 100%;
  padding: 1.25rem 0;
  cursor: pointer;
  user-select: none;
}

.fui-slider-rail {
  background-color: var(--secondary-bg);
  box-shadow: var(--slider-rail--box-shadow);
}

.fui-slider-rail-dots,
.fui-slider-rail {
  height: 0.15em;
  min-height: 3px;
  width: 100%;
  position: absolute;
  border-radius: 100em;
  left: 0;
}

.fui-slider-rail-dots {
  z-index: 1;
  display: flex;

  li {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.25em;
    height: 100%;
    border-radius: 100rem;
    background-color: #ffe600;
  }
}

.fui-slider-rail-percent {
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: 100em;
  background-color: var(--primary--500);
}

.fui-slider-handler-main {
  right: 0;
  z-index: 2;
}

.fui-slider-handler-support {
  left: 0;
  display: none;
  z-index: 2;
}

.fui-slider--range {
  .fui-slider-handler-support {
    display: block;
  }
}
