@import '../../style/vars.scss';

.rc-slider {
  position: relative;
  width: 100%;
  padding: 1.25rem 0;
  cursor: pointer;
  user-select: none;
}

.rc-slider-rail {
  box-shadow: var(--rc-neu-pressed--500);
  background-color: var(--rc-color--500);
}
.rc-slider-rail-dots,
.rc-slider-rail {
  height: 0.15em;
  min-height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 100em;
  left: 0;
}

.rc-slider-rail-dots {
  z-index: 1;
  display: flex;

  li {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.25em;
    height: 100%;
    border-radius: 100rem;
    background-color: #ffe600;
  }
}

.rc-slider-rail-percent {
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: 100em;
  background-color: $primary-color--500;
}

.rc-slider-handler-main {
  right: 0;
  z-index: 2;
}

.rc-slider-handler-support {
  left: 0;
  display: none;
  z-index: 2;
}

.rc-slider.--range {
  .rc-slider-handler-support {
    display: block;
  }
}