.fui-guide-spotlight {
  position: absolute;
  background-color: gray;
}

.fui-guide {
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: hard-light;
  position: absolute;
  z-index: 999;
}

.fui-guide--open {
  display: block;
}
