.fui-guide-spotlight {
  background-color: gray;
  position: absolute;
}

.fui-guide {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 0;
  z-index: 999;
}

.fui-guide--open {
  display: block;
}
